= render partial: 'widgets/web_fonts'

%style
  :sass
    .cocomo
      padding: 10px
      width: 312px
      min-height: 80px
      color: #444
      font-family: Open Sans
      font-size: 12px
      border: thin #000 solid
      h2
        margin: 0px 0px 8px 0px
        font-size: 16px
        font-weight: 800
      table
        background-color: #efefef
        font-size: 12px
        margin-bottom: 5px
