= render partial: 'widgets/web_fonts'

:sass
  .factoid_stats
    font-size: 12px
    width: 370px
    margin-left: 0px !important
    font-family: Open Sans
    border: none
    padding: 10px 10px 10px 0px
    overflow: hidden
    img
      border: none
    p
      line-height: 1em
      margin: 0 0 0.5em 0
    h3
      font-size: 16px
      font-weight: 800
      margin-top: 0
      border: none
      a
        color: #000 !important
        text-decoration: none
        &:hover
          color: #000 !important
          text-decoration: underline
    .logo
      min-width: 64px
      min-height: 64px
      margin: 3px 10px 115px 0px
      float: left
      a
        text-decoration: none !important
    .main
      font-size: 10px
      margin-left: 45px
      width: 269px
      li
        a
          color: #336699
          text-decoration: none !important
          &:hover
            color: #336699
            text-decoration: underline !important
      ul
        list-style-type: none
        margin: 0pt 0px 16px 0px
        padding-bottom: 0px
        padding-left: 0pt
        line-height: 16px
        position: relative
        top: 0px
        li
          img
            vertical-align: -25%
            padding-right: 5px
    .updated
      clear: both
      width: 320px
      p
        font-size: smaller
        color: #aaa
    .more_at_ohloh
      float: right
