= render partial: 'widgets/web_fonts'

:sass
  .factoids
    padding: 10px
    width: 312px
    color: #444
    font-family: Open Sans
    font-size: 12px
    background-color: #ffffff
    border:thin #000 solid
    li
      a
        color: #336699
        text-decoration: none !important
        &:hover
          color: #336699
          text-decoration: underline !important
    ul
      list-style-type: none
      margin: 0pt 6px 3px 0px
      padding-bottom: 20px
      padding-left: 0pt
      line-height: 18px
      li
        img
          vertical-align: -18%
          padding-right: 5px
