%style{ type: 'text/css'}
  :sass
    .project_footer
      clear: both
      font-size: 90%
      .link_container
        float: right
        text-align: right
        &.name
          margin-left: 15px
        .project_link
          color: #999
          text-decoration: none
        img
          border: none
          width: 48px
          height: 12px
          margin-bottom: -2px
          &.noname
            width: 69px
            height: 13px
            a
              color: #999
