:sass
  .project_footer
    clear: both
    font-size: 90%
    .link_container
      float: right
      text-align: right
    .noname
      margin-left: 15px
      font-size: 11px
    img
      border: none
      width: 69px
      height: 13px
      margin-bottom: 2px
    .name
      font-size: 9px
      a
        color: #999
    .project_link
      color: #999
      text-decoration: none
      &.name
        text-decoration: underline
      &.noname
        text-decoration: underline
