= render partial: 'widgets/web_fonts'

:sass
  .languages
    padding: 10px
    width: 312px
    color: #444
    font-family: Open Sans
    font-size: 12px
    border: thin #000 solid
    h2
      margin: 0px 0px 8px 0px
      font-size: 16px
      font-weight: 800
    .analysis
      float: right
      width: 130px
      margin: -10px 0px 10px 0px
    .languages
      font-size: 12px
      color: #444
    .percent
      text-align: right
      padding-right: 3px
    .name
      padding-top: 3px
      padding-bottom: 3px
      padding-left: 3px
    .row_even
      background-color: #f4f4f4
