%h2.footer
  = link_to 'http://code.openhub.net', target: '_blank', style: 'margin-right:11px' do
    = t('.with')
    = image_tag widget_ohloh_logo_url, border: 0, style: 'margin-bottom:-2px'
    = t('.code')
