%h2.footer.ohloh_widget_code_footer
  = link_to 'http://code.openhub.net', target: '_blank', style: 'margin-right:11px' do
    = t('.with')
    = image_tag widget_ohloh_logo_url, border: 0
    = t('.code')
