:javascript
  function validate_ohloh_search_form(val){
    val = val.replace(/^\s+|\s+$/g, '');
    if(val == 'Enter Search Terms...' || val == '')
      return false;
    return true;
  }

= render partial: 'widgets/web_fonts'

:sass
  .ohloh_widget_code_footer
    img
      position: relative
      top: 2px
  #ohloh_widget_code
    font-family: Open Sans
    color: black
    margin: 0

    .icon_search
      margin-left: -24px
      margin-bottom: -2px

    .search_code
      padding-right: 19px

    .widget_browse_code,
    .widget_search_code,
    .widget_search_project_code
      width: 320px
      border: 1px solid black
      padding: 10px 5px 5px 10px

    .widget_browse_code,
    .widget_search_code,
    .widget_search_project_code,
    .project_name
      a:link,
      a:visited,
      a:active,
      a:hover,
      a:active
        color: black !important
        text-decoration: none

    .widget_browse_code,
    .widget_search_code,
    .widget_search_project_code
      .show_search_icon
        margin-left: -23px
      h2
        line-height: 1
      form
        margin: 0px
      h2.header_title
        font-size: 16px
        font-weight: 800
      .project_name
        font-weight: 400
        font-size: 18px
      .browse_code_top
        size: 12px
        text-align: left
        font-weight: 500
        padding-bottom: 5px
      .project_title
        font-size: 14px
      .right
        text-align: right
      .center
        text-align: center
      .ghost
        font-style: italic
        color: #7e7e7e
      .no_margin_bottom
        margin-bottom: 0 !important
      input.search_code
        font-family: 'Open Sans'
        border: 1px solid black
        height: 25px !important
        margin-top: 5px
        width: 240px !important
        padding-top: 4px
        margin-bottom: 9px
        font-size: 12px
        line-height: 18px
      .footer
        font-size: 12px
        font-weight: 400
        margin-bottom: 0px
        margin-top: 10px
