:javascript
  function mouseOverForUsers() {
    var elem = document.getElementById('iuseit');
    elem.style.background = '#ffffff';
    elem.style.backgroundColor = '#ffffff';
    elem.style.color = '#000000';
  }

  function mouseOutForUsers() {
    var elem= document.getElementById('iuseit');
    elem.style.color = '#ffffff';
    elem.style.background = '#828181';
    elem.style.background = 'linear-gradient(to right, #828181, #A4A3A3, #828181)';
    elem.style.background = '-webkit-gradient(linear, left top, right bottom, color-stop(0%, #828181), color-stop(55%, #A4A3A3), color-stop(130%, #828181))';
    elem.style.backgroundColor = '#828181';
  }

  function mouseOverForUsersWithoutStyle() {
    document.getElementById('iuseit').style.color = '#000';
    document.getElementById('iuseit').style.fontWeight = 'bold';
  }

  function mouseOutForUsersWithoutStyle() {
    document.getElementById('iuseit').style.color = '#5F6062';
    document.getElementById('iuseit').style.fontWeight = 'normal';
  }
