:javascript
  function usersLogoMouseOver(elem){
    elem.style.background='#A5A3A5';
    elem.style.color='#ffffff';
  }

  function usersLogoMouseOut(elem){
    elem.style.background='none transparent';
    elem.style.color='#000000';
  }
