= render partial: 'widgets/web_fonts'

:sass
  .users_logo
    margin: 0
    padding: 0
    background-color: #fff
    width: 145px
    border: 1px solid #aaa
    a
      color: #000
      text-decoration: none
      width: 100%
      display: inline-block
    .logo
      position: relative
      margin: 6px 0 -2px 8px
      *top: -5px
      border: 0
      width: 69px
      *width: 50px
      height: 13px
      padding: 0
      vertical-align: baseline
    span
      display: inline-block
      width: 61px
      border-left: 3px solid #D9D9D9
      text-align: center
      margin: 0
      padding: 6px 0
      font-family: Open Sans
      font-weight: normal
      font-size: 12px
      color: #000
