- page_context[:select_footer_nav] = :widgets

= render partial: 'projects/header'

.project_content_title.margin_bottom_10
  %h2= t('.widgets')
  %p
    = t('.embed')
    .clearfix
    - @widgets.each do |widget|
      = render partial: 'widget', locals: { widget: widget, type: 'project', ref: 'sample' }
