- if named_commit.person
  = link_to h(obfuscate_email(named_commit.person.person_name)), avatar_path(named_commit.person)
  - if named_commit.person.person_name != named_commit.commit.name.name
    .small
      = t('.as_comment_html', name: obfuscate_email(named_commit.commit.name.name))
- else
  = t('.unknown')
