- if commit_contributor.person
  = link_to h(obfuscate_email(commit_contributor.person.person_name)), avatar_path(commit_contributor.person)
  - if commit_contributor.person.person_name != commit_contributor.name.name
    .small
      = t('.as_comment_html', name: obfuscate_email(commit_contributor.name.name))
- else
  = t('.unknown')
