%td{ width: '25%', align: 'right' }= @all_time_summary.send(attribute)
%td{ width: '25%', align: 'right' }= @twelve_month_summary.send(attribute)
%td{ width: '25%', align: 'right' }= @thirty_day_summary.send(attribute)
