- if @preferred_names.present?
  .chosen#value_select
    = select_tag :preferred_name_id, options_for_select(@preferred_names.map { |n| [n.name, n.id] }, '-1'),
      class: 'preferred value-select'
- else
  .chosen#value_select
    = select_tag :preferred_name_id, nil, class: 'preferred value-select', disabled: true
