%h1.float_left.margin_bottom_15 Invite User

.col-md-11.well
  = form_for(@invite, url: contributor_invites_path(@contribution), html: { method: 'post' }) do |f|
    %fieldset
      %legend= t('.invite_to_join', email: h(obfuscate_email(@invite.name.name)))
      = render partial: 'fields', locals: { f: f }
