- blog_link = 'https://community.synopsys.com/s/black-duck-open-hub'
- email = 'info@openhub.net'
.alert.alert-warning.margin_top_20
  %p
    Dear Open Hub Users,
    %br
    %br
    We’re excited to announce that we will be moving the Open Hub Forum to
    %a{href: "#{blog_link}"} #{blog_link}.
    Beginning immediately, users can head over,
    %a{href: 'https://community.synopsys.com/s/login/SelfRegister'} register,
    get technical help and discuss issue pertinent to the Open Hub. Registered users can also subscribe to Open Hub announcements here.

  %p
    %br
    On May 1, 2020, we will be freezing https://www.openhub.net/forums and users will not be able to create new discussions. If you have any questions and concerns, please email us at
    %a{ href: "mailto:#{email}"} #{email}