- content_for :html_title do
  = t('.edit_forum_title')

- if flash[:alert]
  = render 'forums/error_alert'

%br
%h1.margin_top_0
  %span= link_to t('.forums'), forums_url

.clear

= render partial: '/forums/notice'
