%h1.margin_bottom_20
  %span= link_to 'Forums', forums_url
.clear

.row
  .span8.float_left
    %h2 New Forum

.well.span11
  .span7
    = form_for @forum do |f|
      = render partial: 'form', locals: { f: f }
      .actions
      = f.submit 'Create', class: 'btn btn-primary btn-small'
  .clear
