.DS_Store
/.bundle
/coverage
config/initializers/better_errors.rb
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
/vagrant/.vagrant
.env.local
public/system/
.sass-cache/
.idea/
.idea/runConfigurations
/config/GIT_SHA
*.swp
tags
.env.development
.env.staging
.env
.byebug_history
logfile
.vscode/settings.json
.vscode/launch.json
