.DS_Store
/.bundle
/coverage
config/initializers/better_errors.rb
/db/*.sqlite3
/db/*.sqlite3-journal
/db/secondbase/structure.sql
/db/structure.sql
/log/*.log
/tmp
/vagrant/.vagrant
.env.local
public/system/
.sass-cache/
.idea/
.idea/runConfigurations
/config/GIT_SHA
/config/database.yml
*.swp
tags
.env.development
.env.staging
.env
.byebug_history
logfile
