version: '3.3'
services:
  web:
    image: sigsynopsys/openhub:latest
    container_name: "${DOCKER_HOST_NAME}"
    command: '/start_utility.sh'
    hostname: "${DOCKER_HOST_NAME}"
    ports:
      - '6379:6379'
      - '8086:8086'
    volumes:
      - "/docker_data/gems/:/home/serv-deployer/.rbenv/versions/2.5.3/lib/ruby/gems/2.5.0/"
      - "/docker_data/logs/${DOCKER_HOST_NAME}/:/var/local/openhub/log/"
      - "/docker_data/assets/:/var/local/openhub/public/"
      - "/docker_data/redis/db/:/var/lib/redis/"
      - "/docker_data/redis/log/:/var/log/redis/"
      - "/docker_data/influxdb/:/var/lib/influxdb/"