= render partial: 'widgets/web_fonts'

:sass
  .clearfix
    clear: both
  .normal_stack_link
    color: #555
    text-decoration: none
    display: block
    border: 0px none
    background-color: #fff
    font-family: Open Sans
    cursor: default
  .stack
    border: 1px solid #bbb
    background-color: #fff
    padding: 8px
    cursor: pointer
    h4
      margin: 0 0 6px 0
      font-weight: 900
      font-size: 13px
      color: #555
      letter-spacing: -.09em
    .icons
      margin: 0
      padding: 0
    p
      margin: 0
      text-align: right
      color: #999
      font-size: 7pt
    .ohloh
      margin: .8em 0 0 0
      text-align: center
      img
        border: none
