:ruby
  url = widget_url_without_format(@widget, 'stack')
  style = widget_iframe_style(@widget)

:plain
  document.write("<iframe src='#{url}' scrolling='no' marginHeight='0' marginWidth='0' style='#{style}'></iframe>");
