- page_context[:select_footer_nav] = :stacks

= render partial: 'accounts/mini_header'

.clearfix
.mezzo

.project_content_title.margin_bottom_10
  %h2= t('.title')
  %p= t('.embed')

.clearfix.margin_left_15
  = render partial: 'widget', locals: { widget: @widget }

.mezzo.margin_top_15
