:ruby
  content_for(:html_title) { t('.page_title', name: @account.name) }
  page_context[:keywords] = "openhub, #{h(@account.name)}, #{h(@account.login)}"
  page_context[:select_top_menu_nav] = :select_people
  page_context[:select_footer_nav] = :positions

= render partial: 'position', locals: { position: @position }
