.modal-header
  %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
    &times;
  %h3.modal-title= I18n.t(:sbom_details)
.modal-body#sbom-details
  .row
    - if sbom_data
      - sbom_data.each do |key, value|
        .col-md-3.list-title.strong= key
        .col-md-9.list-separator.strong= value
    - else
      "No data found"