.row.row-eq-height.project_row
  %h4#scan_analytic.text-left= t('.page_title')
.no_analysis_message
  .alert.alert-info.alert-block{ style: 'padding-left: 30px;' }
    .title
      = t('.no_data')
    .indent{ style: 'margin-top: 15px;' }
