---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/events
    body:
      encoding: UTF-8
      string: '{"alert_type":"error","date_happened":1635602844,"text":"This is an
        error sample","title":"OpenHub test Error"}'
    headers:
      Content-Type:
      - application/json
      Dd-Api-Key:
      - fcgk-hidden
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":6230051054753498324,"id_str":"6230051054753498324","title":"OpenHub
        test Error","text":"This is an error sample","date_happened":1635602844,"handle":null,"priority":null,"related_event_id":null,"tags":null,"url":"https://app.datadoghq.com/event/event?id=6230051054753498324"}}'
  recorded_at: Sat, 30 Oct 2021 14:07:26 GMT
recorded_with: VCR 4.0.0
