---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/stan/repos?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ghp_fake
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86d2b0be0608705f9a580639c3ddc28aa8f0e9b5e958f417c350607bb42f4bea"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2021-10-26 15:31:48 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1634664394'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":28861131,"node_id":"MDEwOlJlcG9zaXRvcnkyODg2MTEzMQ==","name":"maven-repo","full_name":"stan/maven-repo","private":false,"owner":{"login":"stan","id":8556341,"node_id":"MDQ6VXNlcjg1NTYzNDE=","avatar_url":"https://avatars.githubusercontent.com/u/8556341?v=4","gravatar_id":"","url":"https://api.github.com/users/stan","html_url":"https://github.com/stan","followers_url":"https://api.github.com/users/stan/followers","following_url":"https://api.github.com/users/stan/following{/other_user}","gists_url":"https://api.github.com/users/stan/gists{/gist_id}","starred_url":"https://api.github.com/users/stan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stan/subscriptions","organizations_url":"https://api.github.com/users/stan/orgs","repos_url":"https://api.github.com/users/stan/repos","events_url":"https://api.github.com/users/stan/events{/privacy}","received_events_url":"https://api.github.com/users/stan/received_events","type":"User","site_admin":false},"html_url":"https://github.com/stan/maven-repo","description":"maven
        repository","fork":false,"url":"https://api.github.com/repos/stan/maven-repo","forks_url":"https://api.github.com/repos/stan/maven-repo/forks","keys_url":"https://api.github.com/repos/stan/maven-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/stan/maven-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/stan/maven-repo/teams","hooks_url":"https://api.github.com/repos/stan/maven-repo/hooks","issue_events_url":"https://api.github.com/repos/stan/maven-repo/issues/events{/number}","events_url":"https://api.github.com/repos/stan/maven-repo/events","assignees_url":"https://api.github.com/repos/stan/maven-repo/assignees{/user}","branches_url":"https://api.github.com/repos/stan/maven-repo/branches{/branch}","tags_url":"https://api.github.com/repos/stan/maven-repo/tags","blobs_url":"https://api.github.com/repos/stan/maven-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/stan/maven-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/stan/maven-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/stan/maven-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/stan/maven-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/stan/maven-repo/languages","stargazers_url":"https://api.github.com/repos/stan/maven-repo/stargazers","contributors_url":"https://api.github.com/repos/stan/maven-repo/contributors","subscribers_url":"https://api.github.com/repos/stan/maven-repo/subscribers","subscription_url":"https://api.github.com/repos/stan/maven-repo/subscription","commits_url":"https://api.github.com/repos/stan/maven-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/stan/maven-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/stan/maven-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/stan/maven-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/stan/maven-repo/contents/{+path}","compare_url":"https://api.github.com/repos/stan/maven-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/stan/maven-repo/merges","archive_url":"https://api.github.com/repos/stan/maven-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/stan/maven-repo/downloads","issues_url":"https://api.github.com/repos/stan/maven-repo/issues{/number}","pulls_url":"https://api.github.com/repos/stan/maven-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/stan/maven-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/stan/maven-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/stan/maven-repo/labels{/name}","releases_url":"https://api.github.com/repos/stan/maven-repo/releases{/id}","deployments_url":"https://api.github.com/repos/stan/maven-repo/deployments","created_at":"2015-01-06T11:52:30Z","updated_at":"2016-07-14T09:40:46Z","pushed_at":"2016-07-14T09:40:45Z","git_url":"git://github.com/stan/maven-repo.git","ssh_url":"git@github.com:stan/maven-repo.git","clone_url":"https://github.com/stan/maven-repo.git","svn_url":"https://github.com/stan/maven-repo","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":55999061,"node_id":"MDEwOlJlcG9zaXRvcnk1NTk5OTA2MQ==","name":"ohloh_scm","full_name":"stan/ohloh_scm","private":false,"owner":{"login":"stan","id":8556341,"node_id":"MDQ6VXNlcjg1NTYzNDE=","avatar_url":"https://avatars.githubusercontent.com/u/8556341?v=4","gravatar_id":"","url":"https://api.github.com/users/stan","html_url":"https://github.com/stan","followers_url":"https://api.github.com/users/stan/followers","following_url":"https://api.github.com/users/stan/following{/other_user}"[...]
- request:
    method: get
    uri: https://api.github.com/users/stan/repos?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ghp_fake
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d9ff236a206978ce2f9384641452542986900de684172dfb4f5e6c1195f62ba"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2021-10-26 15:31:48 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="prev",
        <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="last",
        <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="first"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1634664394'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 19 Oct 2021 16:26:36 GMT
- request:
    method: post
    uri: http://vcrlocalhost.org:4004/api/v1/code_locations.json?api_key=0f9bf020-32dd-4846-a7d7-8a48b55c5a5d
    body:
      encoding: US-ASCII
      string: url=git%3A%2F%2Fgithub.com%2Fstan%2FjQuery-Knob.git&scm_type&username&password&branch=main&forge_match&best_code_set_id&do_not_fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7db0cdf262d9f21852fb7ad7af76bbb9"
    body:
      encoding: UTF-8
      string: '{"id":2107,"scm_type":"git","url":"git://github.com/stan/jQuery-Knob.git","branch":"main","best_code_set_id":null,"do_not_fetch":null,"status":"active"}'
  recorded_at: Thu, 15 Feb 2018 19:42:46 GMT
[...]
- request:
    method: post
    uri: http://vcrlocalhost.org:4004/api/v1/code_locations.json?api_key=0f9bf020-32dd-4846-a7d7-8a48b55c5a5d
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fgithub.com%2Fstan%2Fafter-dark-css&scm_type&username&password&branch=gh-pages&forge_match&best_code_set_id&do_not_fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"78776aefcaa1724298f68f97e5798efa"
    body:
      encoding: UTF-8
      string: '{"id":1419914,"scm_type":"git","url":"https://github.com/stan/after-dark-css","branch":"gh-pages","best_code_set_id":null,"do_not_fetch":false,"status":"active"}'
  recorded_at: Tue, 03 Nov 2020 12:03:47 GMT
- request:
    method: post
    uri: http://vcrlocalhost.org:4004/api/v1/subscriptions.json?api_key=0f9bf020-32dd-4846-a7d7-8a48b55c5a5d
    body:
      encoding: US-ASCII
      string: code_location_id&client_relation_id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"78776aefcaa1724298f68f97e5798efa"
    body:
      encoding: UTF-8
      string: '{"id":1,"client_relation_id":22,"code_location_id":42}'
  recorded_at: Tue, 03 Nov 2020 12:03:47 GMT
recorded_with: VCR 3.0.3
