---
http_interactions:
- request:
    method: get
    uri: https://api.bitbucket.org/1.0/repositories/durin42/hgsubversion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '0.0449860095978'
      Content-Language:
      - en
      X-Static-Version:
      - 3cb8e626deb1
      Last-Modified:
      - Fri, 20 Mar 2015 14:01:37 GMT
      X-Version:
      - 3cb8e626deb1
      X-Request-Count:
      - '36'
    body:
      encoding: UTF-8
      string: '{"scm": "hg", "has_wiki": true, "last_updated": "2015-03-07T18:39:44.092",
        "no_forks": false, "forks_count": 55, "created_on": "2008-09-30T17:34:05.192",
        "owner": "durin42", "logo": "https://d3oaxc4q5k2d6q.cloudfront.net/m/3cb8e626deb1/img/language-avatars/python_16.png",
        "email_mailinglist": "", "is_mq": false, "size": 1903836, "read_only": false,
        "fork_of": null, "mq_of": null, "followers_count": 353, "state": "available",
        "utc_created_on": "2008-09-30 15:34:05+00:00", "website": "http://groups.google.com/group/hgsubversion/",
        "description": "hgsubversion is an extension for Mercurial that allows using
        Mercurial as a Subversion client.", "has_issues": true, "is_fork": false,
        "slug": "hgsubversion", "is_private": false, "name": "hgsubversion", "language":
        "python", "utc_last_updated": "2015-03-07 17:39:44+00:00", "email_writers":
        true, "no_public_forks": false, "creator": null, "resource_uri": "/1.0/repositories/durin42/hgsubversion"}'
  recorded_at: Fri, 20 Mar 2015 14:02:30 GMT
[...]
