---
http_interactions:
- request:
    method: get
    uri: http://sourceforge.net/rest/p/freecaller/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "active", "preferred_support_tool": "", "preferred_support_url":
        "", "labels": [], "private": false, "creation_date": "2008-12-18", "socialnetworks":
        [], "tools": [{"mount_point": "files", "name": "files", "label": "Files"},
        {"sourceforge_group_id": 248370, "mount_point": "summary", "name": "summary",
        "label": "Summary"}, {"mount_point": "support", "name": "support", "label":
        "Support"}, {"mount_point": "reviews", "name": "reviews", "label": "Reviews"},
        {"mount_point": "wiki", "name": "wiki", "label": "Wiki"}, {"mount_point":
        "bug-reports", "name": "tickets", "label": "Bug Reports"}, {"mount_point":
        "news", "name": "blog", "label": "News"}, {"mount_point": "discussion", "name":
        "discussion", "label": "Discussion"}, {"mount_point": "donate", "name": "link",
        "label": "Donate"}, {"mount_point": "cvs", "name": "cvs", "label": "Cvs"},
        {"mount_point": "code", "name": "svn", "label": "Code"}, {"mount_point": "mailman",
        "name": "mailman", "label": "Mailing Lists"}, {"mount_point": "activity",
        "name": "activity", "label": "Activity"}], "categories": {"developmentstatus":
        [{"fullpath": "Development Status :: 5 - Production/Stable", "fullname": "5
        - Production/Stable", "shortname": "production", "id": 11}], "environment":
        [], "language": [{"fullpath": "Programming Language :: C++", "fullname": "C++",
        "shortname": "cpp", "id": 165}], "license": [{"fullpath": "License :: OSI-Approved
        Open Source :: GNU General Public License version 2.0 (GPLv2)", "fullname":
        "GNU General Public License version 2.0 (GPLv2)", "shortname": "gpl", "id":
        15}], "database": [], "topic": [{"fullpath": "Topic :: Mobile", "fullname":
        "Mobile", "shortname": "mobileapps", "id": 688}], "audience": [], "translation":
        [{"fullpath": "Translations :: Hebrew", "fullname": "Hebrew", "shortname":
        "hebrew", "id": 333}, {"fullpath": "Translations :: German", "fullname": "German",
        "shortname": "german", "id": 279}], "os": [{"fullpath": "Operating System
        :: Handheld/Embedded Operating Systems :: SymbianOS", "fullname": "SymbianOS",
        "shortname": "symbianos", "id": 444}]}, "_id": "516ec916e88f3d7787ab0995",
        "name": "FreeCaller", "url": "http://sourceforge.net/p/freecaller/", "icon_url":
        null, "video_url": "", "screenshots": [{"url": "http://sourceforge.net/p/freecaller/screenshot/198602.jpg",
        "caption": "Main program page", "thumbnail_url": "http://sourceforge.net/p/freecaller/screenshot/198602.jpg/thumb"},
        {"url": "http://sourceforge.net/p/freecaller/screenshot/198600.jpg", "caption":
        "Incoming call preview shot", "thumbnail_url": "http://sourceforge.net/p/freecaller/screenshot/198600.jpg/thumb"}],
        "summary": "", "short_description": "FreeCaller is a Symbian application for
        Nokia phones, that can show you the full screen caller photo on incoming calls.
        It replaces the native symbian incoming call bubble, with a full screen dialog
        containing the picture and details of the caller. ", "moved_to_url": "", "shortname":
        "freecaller", "developers": [{"url": "http://sourceforge.net/u/ynonp/", "username":
        "ynonp", "name": "ynon perek"}], "external_homepage": "http://freecaller.wiki.sourceforge.net"}'
  recorded_at: Fri, 20 Mar 2015 14:00:43 GMT
- request:
    method: get
    uri: https://sourceforge.net/rest/p/freecaller/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "active", "preferred_support_tool": "", "preferred_support_url":
        "", "labels": [], "private": false, "creation_date": "2008-12-18", "socialnetworks":
        [[...]
[...]
