---
http_interactions:
- request:
    method: get
    uri: http://sourceforge.net/rest/p/jotwiki/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "moved", "preferred_support_tool": "", "preferred_support_url":
        "", "labels": [], "private": false, "creation_date": "2007-06-08", "socialnetworks":
        [], "tools": [{"sourceforge_group_id": 198228, "mount_point": "summary", "name":
        "summary", "label": "Summary"}, {"mount_point": "support", "name": "support",
        "label": "Support"}, {"mount_point": "reviews", "name": "reviews", "label":
        "Reviews"}, {"mount_point": "files", "name": "files", "label": "Files"}, {"mount_point":
        "wiki", "name": "wiki", "label": "Wiki"}, {"mount_point": "news", "name":
        "blog", "label": "News"}, {"mount_point": "discussion", "name": "discussion",
        "label": "Discussion"}, {"mount_point": "code", "name": "svn", "label": "Code"},
        {"mount_point": "mailman", "name": "mailman", "label": "Mailing Lists"}, {"mount_point":
        "activity", "name": "activity", "label": "Activity"}], "categories": {"developmentstatus":
        [{"fullpath": "Development Status :: 4 - Beta", "fullname": "4 - Beta", "shortname":
        "beta", "id": 10}], "environment": [{"fullpath": "User Interface :: Web-based",
        "fullname": "Web-based", "shortname": "web", "id": 237}], "language": [{"fullpath":
        "Programming Language :: Java", "fullname": "Java", "shortname": "java", "id":
        198}], "license": [{"fullpath": "License :: Other License", "fullname": "Other
        License", "shortname": "other", "id": 196}, {"fullpath": "License :: OSI-Approved
        Open Source :: GNU General Public License version 2.0 (GPLv2)", "fullname":
        "GNU General Public License version 2.0 (GPLv2)", "shortname": "gpl", "id":
        15}], "database": [{"fullpath": "Database Environment :: File-based DBMS ::
        Proprietary file format", "fullname": "Proprietary file format", "shortname":
        "db_file_proprietary", "id": 522}], "topic": [{"fullpath": "Topic :: Internet
        :: WWW/HTTP", "fullname": "WWW/HTTP", "shortname": "www", "id": 90}], "audience":
        [{"fullpath": "Intended Audience :: by Industry or Sector :: Information Technology",
        "fullname": "Information Technology", "shortname": "informationtechnology",
        "id": 363}, {"fullpath": "Intended Audience :: by End-User Class :: Advanced
        End Users", "fullname": "Advanced End Users", "shortname": "enduser_advanced",
        "id": 536}, {"fullpath": "Intended Audience :: by End-User Class :: System
        Administrators", "fullname": "System Administrators", "shortname": "sysadmins",
        "id": 4}, {"fullpath": "Intended Audience :: by End-User Class :: End Users/Desktop",
        "fullname": "End Users/Desktop", "shortname": "endusers", "id": 2}], "translation":
        [{"fullpath": "Translations :: English", "fullname": "English", "shortname":
        "english", "id": 275}], "os": [{"fullpath": "Operating System :: Grouping
        and Descriptive Categories :: OS Independent (Written in an interpreted language)",
        "fullname": "OS Independent (Written in an interpreted language)", "shortname":
        "independent", "id": 235}, {"fullpath": "Operating System :: Grouping and
        Descriptive Categories :: All POSIX (Linux/BSD/UNIX-like OSes)", "fullname":
        "All POSIX (Linux/BSD/UNIX-like OSes)", "shortname": "posix", "id": 200},
        {"fullpath": "Operating System :: Grouping and Descriptive Categories :: All
        32-bit MS Windows (95/98/NT/2000/XP)", "fullname": "All 32-bit MS Windows
        (95/98/NT/2000/XP)", "shortname": "mswin_all32bit", "id": 435}]}, "_id": "517197a12718467ad6a06a29",
        "name": "jotwiki", "url": "http://sourceforge.net/p/jotwiki/", "icon_url":
        null, "video_url": "", "screenshots": [{"url": "http://sourceforge.net/p/jotwiki/screenshot/161800.jpg",
        "caption": "Home", "thumbnail_url": "http://sourceforge.net/p/jotwiki/screenshot/161800.jpg/thumb"},
        {"url": "http://sourceforge.net/p/jotwiki/screenshot/161804.jpg", "caption":
        "Setup", "thumbnail_url": "http://sourceforge.net/p/jotwiki/screenshot/161804.jpg/thumb"},
        {"url": "http://sourceforge.net/p/jotwiki/screenshot/161802.jpg", "caption":
        "Edit", "thumbnail_url": "http://sourceforge.net/p/jotwiki/screenshot/161802.jpg/thumb"}],
        "summary": "", "short_description": "JOTWiki, is a simple but powerful java
        based WIKI software. It has a lot of features It is very simple to install/setup,
        since it has no dependencies (just needs a java Application server). See http://www.jotwiki.net
        for more informations.", "moved_to_url": "http://bitbucket.org/tcolar/jotwiki",
        "shortname": "jotwiki", "developers": [{"url": "http://sourceforge.net/u/tcolar/",
        "username": "tcolar", "name": "Thibaut Colar"}], "external_homepage": "http://www.jotwiki.net"}'
  recorded_at: Fri, 20 Mar 2015 14:00:43 GMT
recorded_with: VCR 2.9.3
