---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/renamed/repos?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ghp_fake
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86d2b0be0608705f9a580639c3ddc28aa8f0e9b5e958f417c350607bb42f4bea"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2021-10-26 15:31:48 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1634664394'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":24490167,"node_id":"MDEwOlJlcG9zaXRvcnkyNDQ5MDE2Nw==","name":"conference_track_management","full_name":"renamed/conference_track_management","private":false,"owner":{"login":"renamed","id":8556341,"node_id":"MDQ6VXNlcjg1NTYzNDE=","avatar_url":"https://avatars.githubusercontent.com/u/8556341?v=4","gravatar_id":"","url":"https://api.github.com/users/renamed","html_url":"https://github.com/renamed","followers_url":"https://api.github.com/users/renamed/followers","following_url":"https://api.github.com/users/renamed/following{/other_user}","gists_url":"https://api.github.com/users/renamed/gists{/gist_id}","starred_url":"https://api.github.com/users/renamed/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/renamed/subscriptions","organizations_url":"https://api.github.com/users/renamed/orgs","repos_url":"https://api.github.com/users/renamed/repos","events_url":"https://api.github.com/users/renamed/events{/privacy}","received_events_url":"https://api.github.com/users/renamed/received_events","type":"User","site_admin":false},"html_url":"https://github.com/renamed/conference_track_management","description":"conference
        track management project ","fork":false,"url":"https://api.github.com/repos/renamed/conference_track_management","forks_url":"https://api.github.com/repos/renamed/conference_track_management/forks","keys_url":"https://api.github.com/repos/renamed/conference_track_management/keys{/key_id}","collaborators_url":"https://api.github.com/repos/renamed/conference_track_management/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/renamed/conference_track_management/teams","hooks_url":"https://api.github.com/repos/renamed/conference_track_management/hooks","issue_events_url":"https://api.github.com/repos/renamed/conference_track_management/issues/events{/number}","events_url":"https://api.github.com/repos/renamed/conference_track_management/events","assignees_url":"https://api.github.com/repos/renamed/conference_track_management/assignees{/user}","branches_url":"https://api.github.com/repos/renamed/conference_track_management/branches{/branch}","tags_url":"https://api.github.com/repos/renamed/conference_track_management/tags","blobs_url":"https://api.github.com/repos/renamed/conference_track_management/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/renamed/conference_track_management/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/renamed/conference_track_management/git/refs{/sha}","trees_url":"https://api.github.com/repos/renamed/conference_track_management/git/trees{/sha}","statuses_url":"https://api.github.com/repos/renamed/conference_track_management/statuses/{sha}","languages_url":"https://api.github.com/repos/renamed/conference_track_management/languages","stargazers_url":"https://api.github.com/repos/renamed/conference_track_management/stargazers","contributors_url":"https://api.github.com/repos/renamed/conference_track_management/contributors","subscribers_url":"https://api.github.com/repos/renamed/conference_track_management/subscribers","subscription_url":"https://api.github.com/repos/renamed/conference_track_management/subscription","commits_url":"https://api.github.com/repos/renamed/conference_track_management/commits{/sha}","git_commits_url":"https://api.github.com/repos/renamed/conference_track_management/git/commits{/sha}","comments_url":"https://api.github.com/repos/renamed/conference_track_management/comments{/number}","issue_comment_url":"https://api.github.com/repos/renamed/conference_track_management/issues/comments{/number}","contents_url":"https://api.github.com/repos/renamed/conference_track_management/contents/{+path}","compare_url":"https://api.github.com/repos/renamed/conference_track_management/compare/{base}...{head}","merges_url":"https://api.github.com/repos/renamed/conference_track_management/merges","archive_url":"https://api.github.com/repos/renamed/conference_track_management/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/renamed/conference_track_management/downloads","issues_url":"https://api.github.com/repos/renamed/conference_track_management/issues{/number}","pulls_url":"https://api.github.com/repos/renamed/conference_track_management/pulls{/number}","milestones_url":"https://api.github.com/repos/renamed/conference_track_management/milestones{/number}","notifications_url":"https://api.github.com/repos/renamed/conference_track_management/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/renamed/conference_track_management/labels{/name}","releases_url":"https://api.github.com/repos/renamed/conference_track_management/releases{/id}","deployments_url":"https://api.github.com/repos/renamed/conference_track_management/deployments","created_at":"2014-09-26T07:19:02Z","updated_at":"2014-09-26T07:21:43Z","pushed_at":"2014-09-26T07:21:43Z","git_url":"git://github.com/renamed/conference_track_management.git","ssh_url":"git@github.com:renamed/conference_track_management.git","clone_url":"https://github.com/renamed/conference_track_management.git","svn_url":"https://github.com/renamed/conference_track_management","homepage":null,"size":116,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":292579642,"node_id":"MDEwOlJlcG9zaXRvcnkyOTI1Nzk2NDI=","name":"daemons","full_name":"renamed/daemons","private":false,"owner":{"login":"renamed","id":8556341,"node_id":"MDQ6VXNlcjg1NTYzNDE=","avatar_url":"https://avatars.githubusercontent.com/u/8556341?v=4","gravatar_id":"","url":"https://api.github.com/users/renamed","html_url":"https://github.com/renamed","followers_url":"https://api.github.com/users/renamed/followers","following_url":"https://api.github.com/users/renamed/followin[...]
- request:
    method: get
    uri: https://api.github.com/users/renamed/repos?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token ghp_fake
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d9ff236a206978ce2f9384641452542986900de684172dfb4f5e6c1195f62ba"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2021-10-26 15:31:48 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="prev",
        <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="last",
        <https://api.github.com/user/8556341/repos?page=1&per_page=100>; rel="first"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1634664394'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 19 Oct 2021 16:26:36 GMT
recorded_with: VCR 4.0.0
