---
http_interactions:
- request:
    method: get
    uri: https://kb.blackducksoftware.com/kbdetail/api/v1/project/69cf83da-59d7-4fae-ba34-0c27a5b8031e?authToken=suite-qa-test-externel-04
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 1B28E2C36E017D7B487E94942C971AC4D9A6FC153FE9F3EABF97852749
      X-Bds-Authtoken:
      - suite-qa-test-externel-04
      Etag:
      - a60976aa84ae14d2f3fdae3f02463e33
    body:
      encoding: UTF-8
      string: '{"aliases":[{"alias":"libssl0.9.7","id":"29d88f34-e677-46f1-8064-8f4876e85a51"},{"alias":"openssl097","id":"f7fc39be-58a1-4c3f-a17d-9ace8504f12c"},{"alias":"OpenSSL
        - fips","id":"9c8822d9-4414-48b6-ac44-10ee05f2def3"},{"alias":"libssl-doc","id":"237e9c59-8d62-417c-9bdd-70973715a10a"},{"alias":"libssl0.9.8","id":"05d5b30b-2b5e-4a18-8eb2-ba116f75679e"},{"alias":"openssl096","id":"234d53e9-2811-42eb-95bb-1d628ef805cd"},{"alias":"ssleay","id":"d3fe93ba-af67-4187-bfc5-505ad71e8d3d"},{"alias":"libssl1.0.0","id":"e49cfe50-3727-4ddf-a8bc-0b8bd75fc101"},{"alias":"libssl1.0.2-dbg","id":"ef2adeef-7c0e-4d9c-91cc-e95c0cd4d12f"},{"alias":"libssl0.9.7-dbg","id":"b324755b-eacc-4356-bed4-f42e83eb63b2"},{"alias":"libssl1.0.0-dbg","id":"cabc4858-81f9-4415-bb44-44ef5a4207a9"},{"alias":"libssl0.9.6","id":"46aaf1e7-07fa-4863-96f2-6edb499b4e6a"},{"alias":"openssl","id":"d4c4d222-25e5-4ca1-ad8d-695715aa7317"},{"alias":"openssl
        sources on github","id":"622b17fe-ebb3-477f-8e70-645afbdf617b"},{"alias":"libssl0.9.8-dbg","id":"35bad6a4-99cd-41e0-85fe-ce6052b06c25"},{"alias":"openssl095","id":"204d2c45-bdd9-49ae-9a08-8dd5dc2046f7"},{"alias":"libssl1.0.2","id":"2cd23954-4540-49b5-9a54-4ce0fbd0de4a"},{"alias":"libssl-dev","id":"1b427c8d-9e28-43d9-af39-807e1d0fb9fb"}],"cves":{"CVE-2000-0535":{"generatedOn":1072933200000,"lastModified":1221073500477,"score":5,"severity":"Medium"},"CVE-2001-1141":{"generatedOn":1072933200000,"lastModified":1220646347533,"score":5,"severity":"Medium"},"CVE-2002-0655":{"generatedOn":1072933200000,"lastModified":1221073959993,"score":7.5,"severity":"High"},"CVE-2002-0656":{"generatedOn":1072933200000,"lastModified":1221073960070,"score":7.5,"severity":"High"},"CVE-2002-0657":{"generatedOn":1072933200000,"lastModified":1221073960133,"score":7.5,"severity":"High"},"CVE-2002-0659":{"generatedOn":1072933200000,"lastModified":1221073960273,"score":5,"severity":"Medium"},"CVE-2002-1568":{"generatedOn":1072933200000,"lastModified":1220646656607,"score":5,"severity":"Medium"},"CVE-2003-0078":{"generatedOn":1072933200000,"lastModified":1221091547117,"score":5,"severity":"Medium"},"CVE-2003-0131":{"generatedOn":1072933200000,"lastModified":1299550330750,"score":7.5,"severity":"High"},"CVE-2003-0147":{"generatedOn":1072933200000,"lastModified":1299550332063,"score":5,"severity":"Medium"},"CVE-2003-0543":{"generatedOn":1072933200000,"lastModified":1299550365047,"score":5,"severity":"Medium"},"CVE-2003-0544":{"generatedOn":1072933200000,"lastModified":1299550365110,"score":5,"severity":"Medium"},"CVE-2003-0545":{"generatedOn":1072933200000,"lastModified":1299550365173,"score":10,"severity":"High"},"CVE-2003-0851":{"generatedOn":1072933200000,"lastModified":1236143954843,"score":5,"severity":"Medium"},"CVE-2004-0079":{"generatedOn":1072933200000,"lastModified":1282364372253,"score":5,"severity":"Medium"},"CVE-2004-0081":{"generatedOn":1072933200000,"lastModified":1282364372550,"score":5,"severity":"Medium"},"CVE-2004-0112":{"generatedOn":1072933200000,"lastModified":1282364375377,"score":5,"severity":"Medium"},"CVE-2004-0975":{"generatedOn":1072933200000,"lastModified":1282364494517,"score":2.1,"severity":"Low"},"CVE-2005-1797":{"generatedOn":1117657560000,"lastModified":1220647807587,"score":5.1,"severity":"Medium"},"CVE-2005-2946":{"generatedOn":1126917960000,"lastModified":1231304400000,"score":5,"severity":"Medium"},"CVE-2005-2969":{"generatedOn":1129725120000,"lastModified":1299551122423,"score":5,"severity":"Medium"},"CVE-2006-2937":{"generatedOn":1159789680000,"lastModified":1376542896897,"score":7.8,"severity":"High"},"CVE-2006-2940":{"generatedOn":1159789740000,"lastModified":1350957925790,"score":7.8,"severity":"High"},"CVE-2006-3738":{"generatedOn":1159789800000,"lastModified":1377235314160,"score":10,"severity":"High"},"CVE-2006-4339":{"generatedOn":1157476620000,"lastModified":1415933961097,"score":4.3,"severity":"Medium"},"CVE-2006-4343":{"generatedOn":1159789860000,"lastModified":1375110428277,"score":4.3,"severity":"Medium"},"CVE-2006-7250":{"generatedOn":1330525560000,"lastModified":1358911654340,"score":5,"severity":"Medium"},"CVE-2007-3108":{"generatedOn":1186578960000,"lastModified":1299552940643,"score":1.2,"severity":"Low"},"CVE-2007-4995":{"generatedOn":1192470840000,"lastModified":1314676800000,"score":9.3,"severity":"High"},"CVE-2007-5135":{"generatedOn":1190979840000,"lastModified":1314590400000,"score":6.8,"severity":"Medium"},"CVE-2007-6755":{"generatedOn":1383157639970,"lastModified":1383157951943,"score":5.8,"severity":"Medium"},"CVE-2008-0166":{"generatedOn":1210703100000,"lastModified":1235192400000,"score":7.8,"severity":"High"},"CVE-2008-0891":{"generatedOn":1212107880000,"lastModified":1299553537220,"score":4.3,"severity":"Medium"},"CVE-2008-1672":{"generatedOn":1212154200000,"lastModified":1299553646987,"score":4.3,"severity":"Medium"},"CVE-2008-1678":{"generatedOn":1215717660000,"lastModified":1303351507920,"score":5,"severity":"Medium"},"CVE-2008-5077":{"generatedOn":1231357200000,"lastModified":1351652804403,"score":5.8,"severity":"Medium"},"CVE-2008-7270":{"generatedOn":1291755420000,"lastModified":1333681671870,"score":4.3,"severity":"Medium"},"CVE-2009-0590":{"generatedOn":1238175120000,"lastModified":1358914380963,"score":5,"severity":"Medium"},"CVE-2009-0591":{"generatedOn":1238175420000,"lastModified":1295419553407,"score":2.6,"severity":"Low"},"CVE-2009-0653":{"generatedOn":1235410440000,"lastModified":1245902400000,"score":7.5,"severity":"High"},"CVE-2009-0789":{"generatedOn":1238418780000,"lastModified":1319596567467,"score":5,"severity":"Medium"},"CVE-2009-1377":{"generatedOn":1242820740000,"lastModified":1358914502760,"score":5,"severity":"Medium"},"CVE-2009-1378":{"generatedOn":1242821040000,"lastModified":1358914502963,"score":5,"severity":"Medium"},"CVE-2009-1379":{"generatedOn":1242823740000,"lastModified":1358914503137,"score":5,"severity":"Medium"},"CVE-2009-1386":{"generatedOn":1244139900000,"lastModified":1358914504260,"score":5,"severity":"Medium"},"CVE-2009-1387":{"generatedOn":1244140920000,"lastModified":1358914504447,"score":5,"severity":"Medium"},"CVE-2009-2409":{"generatedOn":1249045140000,"lastModified":1350961733787,"score":5.1,"severity":"Medium"},"CVE-2009-3245":{"generatedOn":1268053260000,"lastModified":1415933972660,"score":10,"severity":"High"},"CVE-2009-3555":{"generatedOn":1257860400000,"lastModified":1431568761567,"score":5.8,"severity":"Medium"},"CVE-2009-4355":{"generatedOn":1263568440000,"lastModified":1369162577977,"score":5,"severity":"Medium"},"CVE-2010-0433":{"generatedOn":1268058420000,"lastModified":1311042872453,"score":4.3,"severity":"Medium"},"CVE-2010-0740":{"generatedOn":1269869520000,"lastModified":1311042910237,"score":5,"severity":"Medium"},"CVE-2010-0742":{"generatedOn":1275658980000,"lastModified":1395806523797,"score":7.5,"severity":"High"},"CVE-2010-0928":{"generatedOn":1268064540000,"lastModified":1269581852843,"score":4,"severity":"Medium"},"CVE-2010-1378":{"generatedOn":1289920320000,"lastModified":1290402000000,"score":7.5,"severity":"High"},"CVE-2010-1633":{"generatedOn":1275660600000,"lastModified":1395806731820,"score":6.4,"severity":"Medium"},"CVE-2010-2939":{"generatedOn":1282169520000,"lastModified":1304477372053,"score":4.3,"severity":"Medium"},"CVE-2010-3864":{"generatedOn":1290089760000,"lastModified":1395807092880,"score":7.6,"severity":"High"},"CVE-2010-4180":{"generatedOn":1291750020000,"lastModified":1392957369267,"score":4.3,"severity":"Medium"},"CVE-2010-4252":{"generatedOn":1291751700000,"lastModified":1395807140647,"score":7.5,"severity":"High"},"CVE-2010-5298":{"generatedOn":1397573044757,"lastModified":1429063160487,"score":4,"severity":"Medium"},"CVE-2011-0014":{"generatedOn":1298314980000,"lastModified":1395807325543,"score":5,"severity":"Medium"},"CVE-2011-1473":{"generatedOn":1340043960000,"lastModified":1392957694547,"score":5,"severity":"Medium"},"CVE-2011-1945":{"generatedOn":1306953180000,"lastModified":1370488223800,"score":2.6,"severity":"Low"},"CVE-2011-3207":{"generatedOn":1316698680000,"lastModified":1395807725480,"score":5,"severity":"Medium"},"CVE-2011-3210":{"generatedOn":1316698980000,"lastModified":1395807726027,"score":5,"severity":"Medium"},"CVE-2011-4108":{"generatedOn":1325855340000,"lastModified":1395807864953,"score":4.3,"severity":"Medium"},"CVE-2011-4109":{"generatedOn":1325856720000,"lastModified":1378955949393,"score":9.3,"severity":"High"},"CVE-2011-4354":{"generatedOn":1327677420000,"lastModified":1352178217813,"score":5.8,"severity":"Medium"},"CVE-2011-4576":{"generatedOn":1376057632693,"lastModified":1395807915203,"score":5,"severity":"Medium"},"CVE-2011-4577":{"generatedOn":1325858100000,"lastModified":1395807916987,"score":4.3,"severity":"Medium"},"CVE-2011-4619":{"generatedOn":1325858340000,"lastModified":1395807925033,"score":5,"severity":"Medium"},"CVE-2011-5095":{"generatedOn":1340286420000,"lastModified":1340251200000,"score":4,"severity":"Medium"},"CVE-2012-0027":{"generatedOn":1325859000000,"lastModified":1395808025177,"score":5,"severity":"Medium"},"CVE-2012-0050":{"generatedOn":1327086960000,"lastModified":1395808030053,"score":5,"severity":"Medium"},"CVE-2012-0884":{"generatedOn":1331655480000,"lastModified":1395808141070,"score":5,"severity":"Medium"},"CVE-2012-1165":{"generatedOn":1331903040000,"lastModified":1377143540983,"score":5,"severity":"Medium"},"CVE-2012-2110":{"generatedOn":1381162187847,"lastModified":1395808320030,"score":7.5,"severity":"High"},"CVE-2012-2131":{"generatedOn":1335358260000,"lastModified":1395808323640,"score":7.5,"severity":"High"},"CVE-2012-2333":{"generatedOn":1337092920000,"lastModified":1378956305190,"score":6.8,"severity":"Medium"},"CVE-2012-2686":{"generatedOn":1360594500000,"lastModified":1389935189790,"score":5,"severity":"Medium"},"CVE-2012-4929":{"generatedOn":1441119591727,"lastModified":1441126843027,"score":2.6,"severity":"Low"},"CVE-2013-0166":{"generatedOn":1360593480000,"lastModified":1427421542377,"score":5,"severity":"Medium"},"CVE-2013-0169":{"generatedOn":1360595040000,"lastModified":1427421544893,"score":2.6,"severity":"Low"},"CVE-2013-4353":{"generatedOn":1389297920697,"lastModified":1406177583640,"score":4.3,"severity":"Medium"},"CVE-2013-6449":{"generatedOn":1387897994943,"lastModified":1429063190883,"score":4.3,"severity":"Medium"},"CVE-2013-6450":{"generatedOn":1391091399000,"lastModified":1429063191947,"score":5.8,"severity":"Medium"},"CVE-2014-0076":{"generatedOn":1395757973127,"lastModified":1431741558903,"score":4.3,"severity":"Medium"},"CVE-2014-0160":{"generatedOn":1445436227423,"lastModified":1445523578453,"score":5,"severity":"Medium"},"CVE-2014-0195":{"generatedOn":1402065867237,"lastModified":1429063204417,"score":6.8,"severity":"Medium"},"CVE-2014-0198":{"generatedOn":1399374385630,"lastModified":1429063205447,"score":4.3,"severity":"Medium"},"CVE-2014-0221":{"generatedOn":1402065543967,"lastModified":1429063206837,"score":4.3,"severity":"Medium"},"CVE-2014-0224":{"generatedOn":1402064987773,"lastModified":1429063210777,"score":6.8,"severity":"Medium"},"CVE-2014-2234":{"generatedOn":1394041482130,"lastModified":1394041482177,"score":6.4,"severity":"Medium"},"CVE-2014-3470":{"generatedOn":1402078252467,"lastModified":1429063230357,"score":4.3,"severity":"Medium"},"CVE-2014-3505":{"generatedOn":1408026392850,"lastModified":1427162403310,"score":5,"severity":"Medium"},"CVE-2014-3506":{"generatedOn":1408026787817,"lastModified":1427162404373,"score":5,"severity":"Medium"},"CVE-2014-3507":{"generatedOn":1408026832227,"lastModified":1427162405420,"score":5,"severity":"Medium"},"CVE-2014-3508":{"generatedOn":1408027787963,"lastModified":1428371965530,"score":4.3,"severity":"Medium"},"CVE-2014-3509":{"generatedOn":1408029441830,"lastModified":1428371966517,"score":6.8,"severity":"Medium"},"CVE-2014-3510":{"generatedOn":1408027051850,"lastModified":1427162408407,"score":4.3,"severity":"Medium"},"CVE-2014-3511":{"generatedOn":1408029570650,"lastModified":1428371967563,"score":4.3,"severity":"Medium"},"CVE-2014-3512":{"generatedOn":1408029587573,"lastModified":1427162411140,"score":7.5,"severity":"High"},"CVE-2014-3513":{"generatedOn":1426564152303,"lastModified":1442627961297,"score":7.1,"severity":"High"},"CVE-2014-3566":{"generatedOn":1413399072403,"lastModified":1455245941273,"score":4.3,"severity":"Medium"},"CVE-2014-3567":{"generatedOn":1414078421057,"lastModified":1442627965533,"score":7.1,"severity":"High"},"CVE-2014-3568":{"generatedOn":1414078360347,"lastModified":1442627966673,"score":4.3,"severity":"Medium"},"CVE-2014-3569":{"generatedOn":1419434609920,"lastModified":1445565564513,"score":5,"severity":"Medium"},"CVE-2014-3570":{"generatedOn":1420812375483,"lastModified":1445565566857,"score":5,"severity":"Medium"},"CVE-2014-3571":{"generatedOn":1420815102933,"lastModified":1445565578737,"score":5,"severity":"Medium"},"CVE-2014-3572":{"generatedOn":1420816505757,"lastModified":1445565579770,"score":5,"severity":"Medium"},"CVE-2014-5139":{"generatedOn":1408015814000,"lastModified":1428371980203,"score":4.3,"severity":"Medium"},"CVE-2014-8176":{"generatedOn":1434379392310,"lastModified":1434383983333,"score":7.5,"severity":"High"},"CVE-2014-8275":{"generatedOn":1420816703207,"lastModified":1445565604513,"score":5,"severity":"Medium"},"CVE-2015-0204":{"generatedOn":1427317892463,"lastModified":1453431560907,"score":4.3,"severity":"Medium"},"CVE-2015-0205":{"generatedOn":1420817540167,"lastModified":1445565606780,"score":5,"severity":"Medium"},"CVE-2015-0206":{"generatedOn":1420817896257,"lastModified":1445565607797,"score":5,"severity":"Medium"},"CVE-2015-0207":{"generatedOn":1437579864327,"lastModified":1453431562063,"score":5,"severity":"Medium"},"CVE-2015-0208":{"generatedOn":1437579890467,"lastModified":1453431563253,"score":4.3,"severity":"Medium"},"CVE-2015-0209":{"generatedOn":1426858909823,"lastModified":1453431564550,"score":6.8,"severity":"Medium"},"CVE-2015-0285":{"generatedOn":1426856881177,"lastModified":1453431567050,"score":4.3,"severity":"Medium"},"CVE-2015-0286":{"generatedOn":1426860400367,"lastModified":1453431568253,"score":5,"severity":"Medium"},"CVE-2015-0287":{"generatedOn":1426860696113,"lastModified":1453431569440,"score":5,"severity":"Medium"},"CVE-2015-0288":{"generatedOn":1426861010517,"lastModified":1453431570893,"score":5,"severity":"Medium"},"CVE-2015-0289":{"generatedOn":1437584466067,"lastModified":1453431571987,"score":5,"severity":"Medium"},"CVE-2015-0290":{"generatedOn":1437584535880,"lastModified":1453431573050,"score":5,"severity":"Medium"},"CVE-2015-0291":{"generatedOn":1437579737063,"lastModified":1453431574330,"score":5,"severity":"Medium"},"CVE-2015-0292":{"generatedOn":1426860468257,"lastModified":1453431575427,"score":7.5,"severity":"High"},"CVE-2015-0293":{"generatedOn":1426860030903,"lastModified":1453431576567,"score":5,"severity":"Medium"},"CVE-2015-1787":{"generatedOn":1426857486687,"lastModified":1453431577973,"score":2.6,"severity":"Low"},"CVE-2015-1788":{"generatedOn":1434381866637,"lastModified":1453431579067,"score":4.3,"severity":"Medium"},"CVE-2015-1789":{"generatedOn":1434381373247,"lastModified":1453431580300,"score":4.3,"severity":"Medium"},"CVE-2015-1790":{"generatedOn":1434380357030,"lastModified":1453431581393,"score":5,"severity":"Medium"},"CVE-2015-1791":{"generatedOn":1434382105753,"lastModified":1453431582427,"score":6.8,"severity":"Medium"},"CVE-2015-1792":{"generatedOn":1434381563943,"lastModified":1453431583613,"score":5,"severity":"Medium"},"CVE-2015-1793":{"generatedOn":1448382226777,"lastModified":1453431585160,"score":6.4,"severity":"Medium"},"CVE-2015-1794":{"generatedOn":1449508991103,"lastModified":1449517329313,"score":5,"severity":"Medium"},"CVE-2015-3193":{"generatedOn":1449509556197,"lastModified":1449517392177,"score":5,"severity":"Medium"},"CVE-2015-3194":{"generatedOn":1449510385087,"lastModified":1449517408033,"score":5,"severity":"Medium"},"CVE-2015-3195":{"generatedOn":1449508123407,"lastModified":1453431588693,"score":5,"severity":"Medium"},"CVE-2015-3196":{"generatedOn":1449510657477,"lastModified":1449519922080,"score":4.3,"severity":"Medium"},"CVE-2015-3197":{"generatedOn":null,"lastModified":1455505142873,"score":null,"severity":null},"CVE-2015-3216":{"generatedOn":1436448096033,"lastModified":1436451063960,"score":4.3,"severity":"Medium"},"CVE-2015-4000":{"generatedOn":1437579488487,"lastModified":1453431590113,"score":4.3,"severity":"Medium"},"CVE-2015-7575":{"generatedOn":1452895859417,"lastModified":1453431596130,"score":4.3,"severity":"Medium"},"CVE-2016-0701":{"generatedOn":null,"lastModified":1455505158920,"score":null,"severity":null},"CVE-2016-0702":{"generatedOn":1457366134733,"lastModified":1457367213940,"score":1.9,"severity":"Low"},"CVE-2016-0703":{"generatedOn":null,"lastModified":1456919941333,"score":null,"severity":null},"CVE-2016-0704":{"generatedOn":null,"lastModified":1456919942553,"score":null,"severity":null},"CVE-2016-0705":{"generatedOn":1457365547707,"lastModified":1457366079433,"score":10,"severity":"High"},"CVE-2016-0797":{"generatedOn":1457123956337,"lastModified":1457362088493,"score":5,"severity":"Medium"},"CVE-2016-0798":{"generatedOn":1457364630557,"lastModified":1457365716097,"score":7.8,"severity":"High"},"CVE-2016-0799":{"generatedOn":1457365503090,"lastModified":1457365967130,"score":10,"severity":"High"},"CVE-2016-0800":{"generatedOn":null,"lastModified":1456865941440,"score":null,"severity":null},"CVE-2016-2842":{"generatedOn":1457116222790,"lastModified":1457360903247,"score":10,"severity":"High"}},"description":"The
        OpenSSL Project is a collaborative effort to develop a robust, commercial-grade,
        full-featured, and Open Source toolkit implementing the Secure Sockets Layer
        (SSL v2/v3) and Transport Layer Security (TLS v1) protocols as well as a full-strength
        general purpose cryptography library. The project is managed by a worldwide
        community of volunteers that use the Internet to communicate, plan, and dev","externalIds":{"debian":{"libssl-dev":{"channelId":"1b427c8d-9e28-43d9-af39-807e1d0fb9fb","name":"libssl-dev"},"libssl-doc":{"channelId":"237e9c59-8d62-417c-9bdd-70973715a10a","name":"libssl-doc"},"libssl0.9.6":{"channelId":"46aaf1e7-07fa-4863-96f2-6edb499b4e6a","name":"libssl0.9.6"},"libssl0.9.7":{"channelId":"29d88f34-e677-46f1-8064-8f4876e85a51","name":"libssl0.9.7"},"libssl0.9.7-dbg":{"channelId":"b324755b-eacc-4356-bed4-f42e83eb63b2","name":"libssl0.9.7-dbg"},"libssl0.9.8":{"channelId":"05d5b30b-2b5e-4a18-8eb2-ba116f75679e","name":"libssl0.9.8"},"libssl0.9.8-dbg":{"channelId":"35bad6a4-99cd-41e0-85fe-ce6052b06c25","name":"libssl0.9.8-dbg"},"libssl1.0.0":{"channelId":"e49cfe50-3727-4ddf-a8bc-0b8bd75fc101","name":"libssl1.0.0"},"libssl1.0.0-dbg":{"channelId":"cabc4858-81f9-4415-bb44-44ef5a4207a9","name":"libssl1.0.0-dbg"},"libssl1.0.2":{"channelId":"2cd23954-4540-49b5-9a54-4ce0fbd0de4a","name":"libssl1.0.2"},"libssl1.0.2-dbg":{"channelId":"ef2adeef-7c0e-4d9c-91cc-e95c0cd4d12f","name":"libssl1.0.2-dbg"},"openssl":{"channelId":"d4c4d222-25e5-4ca1-ad8d-695715aa7317","name":"openssl"},"openssl095":{"channelId":"204d2c45-bdd9-49ae-9a08-8dd5dc2046f7","name":"openssl095"},"openssl096":{"channelId":"234d53e9-2811-42eb-95bb-1d628ef805cd","name":"openssl096"},"openssl097":{"channelId":"f7fc39be-58a1-4c3f-a17d-9ace8504f12c","name":"openssl097"},"ssleay":{"channelId":"d3fe93ba-af67-4187-bfc5-505ad71e8d3d","name":"ssleay"}},"github":{"openssl/openssl":{"channelId":"622b17fe-ebb3-477f-8e70-645afbdf617b","name":"openssl
        sources on github"}},"long_tail":{"git://git.openssl.org/openssl":{"channelId":"284d6c79-f6f6-4e45-a51c-0dac289e0ef6","name":"OpenSSL"},"git://repo.or.cz/mirror-openssl":{"channelId":"1c352dc6-885b-4d8e-af7b-2895bfe09e25","name":"OpenSSL"},"www.openssl.org":{"channelId":"9c8822d9-4414-48b6-ac44-10ee05f2def3","name":"OpenSSL
        - fips"},"www2.psy.uq.edu.au/~ftp/Crypto/OpenSSL":{"channelId":"5cf70950-bdb6-479e-8bdf-bd881744c15d","name":"OpenSSL
        - fips"}}},"id":"69cf83da-59d7-4fae-ba34-0c27a5b8031e","licenses":{"00000000-0010-0000-0000-000000000000":{"codeSharing":"UNKNOWN","name":"Unknown
        License","ownership":"UNKNOWN","spdxId":null},"8adc012e-9844-43ef-91cf-b45a3302c597":{"codeSharing":"PERMISSIVE","name":"OpenSSL
        License","ownership":"OPEN_SOURCE","spdxId":"OpenSSL"},"912a4957-ba62-4942-8616-aec7bc0eedec":{"codeSharing":"WEAK_RECIPROCAL","name":"SSLeay
        License","ownership":"OPEN_SOURCE","spdxId":null}},"links":[{"linkName":"Download","url":"http://www.openssl.org//source/"},{"linkName":"Homepage
        1","url":"http://www.openssl.org/"},{"linkName":"Homepage 2","url":"https://www.openssl.org"},{"linkName":"Other
        1","url":"http://www.openssl.org/"},{"linkName":"Other 2","url":"http://anonscm.debian.org/viewvc/pkg-openssl/openssl"},{"linkName":"Other
        3","url":"http://svn.debian.org/wsvn/pkg-openssl/openssl"},{"linkName":"Other
        4","url":"https://www.openssl.org"},{"linkName":"Project 1","url":"http://tracker.debian.org/pkg/openssl097"},{"linkName":"Project
        2","url":"http://www.openssl.org"},{"linkName":"Project 3","url":"http://www2.psy.uq.edu.au/~ftp/Crypto/OpenSSL/"},{"linkName":"Project
        4","url":"http://github.com/openssl/openssl/"},{"linkName":"Project 5","url":"http://tracker.debian.org/pkg/openssl096"},{"linkName":"Project
        6","url":"http://tracker.debian.org/pkg/openssl"},{"linkName":"Project 7","url":"http://tracker.debian.org/pkg/openssl095"}],"logos":[{"type":"medium","url":"https://s3.amazonaws.com/cloud.ohloh.net/attachments/89041/openssl-64_med.png"},{"type":"small","url":"https://s3.amazonaws.com/cloud.ohloh.net/attachments/89041/openssl-64_small.png"}],"migratedReleases":[{"_cveIds":[],"cveIds":[],"id":"748b3f68-4728-49f7-a1e2-f9943ecebb58","license":{"set":[{"discoveredAs":"OpenSSL
        License","licenseId":"8adc012e-9844-43ef-91cf-b45a3302c597"},{"discoveredAs":"SSLeay
        License","licenseId":"912a4957-ba62-4942-8616-aec7bc0eedec"}],"type":"DISJUNCTIVE"},"links":[],"project":{"id":"69cf83da-59d7-4fae-ba34-0c27a5b8031e","name":"OpenSSL","rank":0.987127110915659},"project_is_internal":false,"project_state_code":1002,"releasedOn":1421902800000,"targets":[{"id":"f9e87ad0-f152-46eb-9a15-acc66a5d3b57","projectId":"69cf83da-59d7-4fae-ba34-0c27a5b8031e"}],"version":"OpenSSL_1_0_2","vulnIds":[]},{"_cveIds":[],"cveIds":[],"id":"06b7738a-f969-4384-9117-579b1de91d4d","license":{"set":[{"discoveredAs":"OpenSSL
        License","licenseId":"8adc012e-9844-43ef-91cf-b45a3302c597"},{"discoveredAs":"SSLeay
        License","licenseId":"912a4957-ba62-4942-8616-aec7bc0eedec"}],"type":"DISJUNCTIVE"},"links":[],"project":{"id":"69cf83da-59d7-4fae-ba34-0c27a5b8031e","name":"OpenSSL","rank":0.987127110915659},"project_is_internal":false,"project_state_code":1002,"releasedOn":1421298000000,"targets[...]
