- content_for(:html_title) { t('.page_title') }
- page_context[:select_top_menu_nav] = :select_people
%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }

%h1.margin_bottom_15= t('.people')

= render_people_list

- if params[:query].present? && @claimed_people.empty? && @unclaimed_people.empty?
  = render partial: 'shared/alert', locals: { message: t('shared.search_dingus.no_match_found.no_match') }
