- project = position.project
- name_fact = @name_facts_map[project.best_analysis_id]

.claim-position-card.oh-card
  .claim-position-card__tile
    .unclaimed-card__item
      = render 'unclaimed_tile', project: project, name_fact: name_fact
  .claim-position-card__fields
    %input{ type: 'hidden', value: project.id, name: 'positions[][project_id]' }
    .form-group
      %label.claim-position-card__label= t('.your_role', name: project.name)
      %input.form-control{ placeholder: t('.your_role', name: project.name),
        type: 'text', name: 'positions[][title]', value: position.title }
    .form-group
      %label.claim-position-card__label= t('.description')
      %textarea.form-control{ placeholder: t('.description'),
        name: 'positions[][description]', rows: 3 }= position.description
    - if position.errors.present?
      %p.claim-position-card__error= position.errors[:base]
