- content_for(:html_title) { t('.title', current_user: current_user.nil? ? nil : current_user.name.concat(' : '),
  name: @name.name) }
- page_context[:select_top_menu_nav] = :select_people

%h1.margin_bottom_15= t('.people')
%h3.margin_bottom_15
  = link_to t('.heading'), committers_path
  &nbsp;: #{@name.name}
= render 'people/unclaimed_person', name_id: @name.id, people: @people, from_show_page: true
