:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
#project_badges_page
  %h1.title= t('.title')
  - if logged_in? && @project.edit_authorized? && @project_badge.errors.empty?
    .badge_table_container
      = render 'editable_badges_table'
    .clearfix
    %btn.btn.btn-primary#add_badge_btn= t('.new_badge')
  - else
    .badge_table_container
      = render 'badges_table'
