- if bbc
  = html_escape "[url=#{url}' target='_blank][img]#{image}[/img]][/url]"
- else
  = link_to h(url), target: '_blank' do
    %img{ src: image, border: 0, height: widget.height, width: widget.width, alt: t('.alt', name: widget.account.name) }
