:ruby
  widget ||= @widget
  account = widget.account
  bbc ||= false
  ref ||= widget.class
  image = widget_gif_url(account_tiny_account_widgets_url(account), ref)

= render partial: 'bbc_or_js', locals: { bbc: bbc, widget: widget, url: account_url(account, ref: ref), image: image }
