:ruby
  widget ||= @widget
  bbc ||= false
  account = widget.account
  ref ||= widget.class
  image = rank_account_widgets_url(account, format: 'gif', ref: ref)

= render partial: 'bbc_or_js', locals: { bbc: bbc, widget: widget, url: account_url(account, ref: ref), image: image }
