:ruby
  widget ||= @widget
  account = widget.account
  bbc ||= false
  ref ||= widget.class
  #TODO: image = tiny_account_account_widgets_url(account, format: 'gif', ref: ref)
  image = image_url('widget_logos/profile_tiny.png')

= render partial: 'bbc_or_js', locals: { bbc: bbc, widget: widget, url: account_url(account, ref: ref), image: image }
