/ - sidebar :domain_blacklist
- @meta_title = 'Blacklist Domains'

.status
  %h3= @meta_title

  %p= link_to 'Add New Domain', new_domain_blacklist_path

  %table
    %thead
      %tr
        %th{ width: '70%' } Domain
        %th Actions
    %tbody
      = render partial: 'domain_blacklist_row',
        as: :domain_blacklist, collection: @domain_blacklists
