.col-md-1#org_icon
  = @organization.decorate.icon(:med)
.col-md-11#project_header
  .pull-left
    %h1.margin_top_0= link_to @organization.name, organization_path(@organization)
  .pull-left.margin_left_25.margin_top_5
    = link_to bootstrap_icon('icon-cogs', 'Settings'), settings_organization_path(@organization)
    -# TODO: change the Jobs path accordingly
    -# = link_to bootstrap_icon('icon-tasks', 'Jobs'), organization_jobs_path(@organization)
.row
  .col-md-12
    .mezzo
