.row-fluid
  .well.well-large.col-md-8.col-md-offset-2.margin_top_20
    .verification-buttons-container
      = link_to 'javascript:', { class: 'btn btn-primary github-oauth' }.merge(github_data_attributes) do
        %i.fa.fa-github
          = t('.verify_using_github')
