:ruby
  uri = URI.parse(URI.escape(project.url.to_s))
  host = if uri.host
           uri.host
         else
           project.url
         end
- if !host.blank?
  = link_to h(host), project.url
- elsif !project.url.blank?
  = link_to h(project.url)
- else
  %span.soft= t('compares.no_data')
