- if project.best_analysis.last_commit_time
  %span.status= t('compares.ago', ago: time_ago_in_words(project.best_analysis.last_commit_time))
- elsif project.enlistments.count > 0
  %span.soft= t('compares.pending')
- else
  %span.soft= t('compares.no_data')
