.padding_one_top
  - if logged_in? && @organization.edit_authorized?
    = link_to t('.new_manager'), new_manager_organization_path(@organization),
    class: 'btn btn-primary btn-small'
  - else
    = link_to t('.new_manager'), new_manager_organization_path(@organization),
    class: "btn btn-primary btn-small #{logged_in? ? 'disabled' : 'needs_login'}"
