.alert.alert-warning.alert-block
  %h4.alert-heading.nomargin= t('.heading')
  %p= t('.description_1')
  = t('.description_2')
  %p= link_to t('.help_forum'), 'https://community.synopsys.com/s/topic/0TO2H000000gHS1WAM/black-duck-open-hub-help'
