.alert.alert-warning.modern-alert.alert-block
  .alert-accent-strip
  .alert-inner
    .alert-block-content
      %h3= t('.heading')
      %p= t('.description_1')
      %p= t('.description_2')
      %p= link_to t('.help_forum'), 'https://community.blackduck.com/s/topic/0TO2H000000gHS1WAM/black-duck-open-hub-help'
