.inset
  %h5
    = link_to 'Markdown Help', markdown_syntax_path, class: 'strong external', target: '_blank'

  %p
    [link](http://url.com/)
    %br
    %br
    %em *italic*
    %span.soft or
    %em _italic_
    %br
    %strong **bold**
    %span.soft or
    %strong __bold__
    %br
    \# header 1
    %br
    \## header 2
    %br
    %br
    \- unordered list 1
    %br
    %br
    \1. ordered list 2
