:ruby
  global_search_param = GLOBALLY_SEARCHABLE.include?(controller_name) ? params[:query] : ''
  global_search_param = '' if @avoid_global_search

- unless request.path == root_path
  %form#header-search-form.header-search-form{ action: projects_path }
    .btn-group.ux-dropdown.header-search-dropdown
      %button.search-filter-btn.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
        %span.selection{ val: 'p' }= t('projects_menu')
        %i.fa.fa-chevron-down
      .dropdown-menu.search-dropdown-menu
        %button.dropdown-item.active{ type: 'button', val: 'p' }= t('projects_menu')
        %button.dropdown-item{ type: 'button', val: 'people' }= t('people_menu')
        %button.dropdown-item{ type: 'button', val: 'orgs' }= t('organizations_menu')
    %input.header-search-input{ type: 'text', name: 'query', placeholder: t('shared.search.search_text'), value: global_search_param, autocomplete: 'off' }
    %input.search.hidden{ type: 'hidden', name: 'search_type', id: 'search_type', value: 'projects' }
    %button.header-search-btn{ type: 'submit' }
      %i.fa.fa-search

