:ruby
  total_count ||= 0
  search_type ||= nil
  tags ||= nil
  filter_type ||= nil
  sort_context ||= nil
  no_match_found_type ||= nil

.margin_top_20#search-dingus
  %form.form-inline
    .row
      = render 'shared/search_dingus/page_entries_info', collection: collection, total_count: total_count

      = render 'shared/search_dingus/search_bar', search_type: search_type, tags: tags

      = render 'shared/search_dingus/sort', filter_type: filter_type, sort_context: sort_context

= render 'shared/search_dingus/no_match_found', collection: collection, no_match_found_type: no_match_found_type
