- popular_projects.each do|project|
  .top_ten_row
    = set_link(project)
    .top_ten_main
      .top_ten_link
        = set_path(project)
      .top_ten_bar.pull-left{ class: colors, style: "width:#{width(project, required, max)}%" }
        &nbsp;
      .top_ten_label.pull-left
        = pluralize(project_count(project, required), commit)
    .clearfix
