%a{ href: 'https://www.synopsys.com/software-integrity/resources/analyst-reports/2020-open-source-security-risk-analysis.html', target: '_blank' }
  %img{src: image_path('home/OSSRA-ad-for-open-hub.jpg'), style: 'margin-left: 25px; margin-top: 15px'}
