%a{ href: 'https://www.blackduck.com/resources/analyst-reports/open-source-security-risk-analysis.html', target: '_blank' }
  %img{src: image_path('home/OSSRA-OH-banner.png'), style: 'margin: 15px 0 0 5em;'}
