%a{ href: 'https://www.synopsys.com/software-integrity/resources/analyst-reports/2020-open-source-security-risk-analysis.html?cmp=ba-sig-ohub&utm_medium=display&utm_source=ohub', target: '_blank' }
  %img{src: image_path('home/OSSRA-OH-banner.png'), style: 'margin-left: 25px; margin-top: 15px'}
