%a{ href: 'https://www.blackduck.com/resources/analyst-reports/open-source-security-risk-analysis.html', target: '_blank', class: 'whats-new-banner' }
  %img{src: image_path('home/OSSRA2026-OH-banner.png'), alt: 'Open Source Security and Risk Analysis'}
