- if search_type == :tags
  .search-section
    %label= t('.filter_by_tags')
    .chosen#value_select
      = select_tag :names, options_for_select(tags.map { |ary| ary.map(&:fix_encoding_if_invalid) }, params[:names]),
        class: 'chzn-select value-select multiple-select',
        multiple: true, onchange: 'this.form.submit()'

- else
  .search-section
    %label{for: 'query'}= t('.search_text')
    .search-input-wrapper
      %input#query{type: 'text', name: 'query', placeholder: t('.search_text'), value: params[:query]}
      %button.search-cancel-btn{ type: 'button', 'aria-label': t('.clear_search'), style: (params[:query].blank? ? 'display: none;' : '') }
        %i.fa.fa-times
    %button.search-refresh-btn{ type: 'submit', 'aria-label': t('.search') }
      %i.fa.fa-refresh
