- url = request.protocol + request.host_with_port + '/assets/fonts/OpenSans-Regular.woff'

:css
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: local('Open Sans'), local('OpenSans'), url('#{url}') format('woff');
  }
