@mixin sign_buttons
  @media (min-width: 768px) and (max-width: 1024px)
    a
      border-radius: 8px
      font-size: 150% !important
      padding: 4% 0 !important
      i
        padding: 4% 0 

  @media (min-width: 1280px)
    a
      border-radius: 12px
      font-size: 200% !important
      padding: 10% 0 !important
      i
        padding: 4% 0 
 
