@media(min-width: 320px) and (max-width: 480px)
  #welcome-message-container
    padding: 0px !important
    margin-top: 1rem !important
    display: contents
    h2
     font-size: 18px !important
     font-weight: 500 !important
  #profile-description-1
    margin-top: -40px
  #sign-up-git
    margin-left: -30px
    margin-bottom: 15px
  #sign-up-email
    margin-right: 170px
    margin-bottom: 10px
  #sign-up-fields
    display: contents
  #sign-up-options
    margin-top: -12px
.well .fa-exclamation-triangle
  color: red

.well .fa-smile-o
  color: green

#sign-up-options
  @include sign_buttons
  .row-first
    height: 100px

#sign-up-fields
  display: none

#welcome-message-container
  padding: 0px !important
  margin-top: 1rem !important
#profile-description-2
  max-width: 400px
  position: relative
#profile-description-2 .text-2
  position: relative; 
  display: block;
#profile-description-2 .show-more-2
  color: #1779dd;
  position: relative; 
  font-size: 10px; 
  text-align: left; 
  cursor: pointer;
#profile-description-2 .show-more-2:hover 
  color: #1779dd;
#profile-description-2 .show-more-height-2
  height: 35px; 
  overflow: hidden; 
#profile-description-1
  max-width: 400px; 
  position: relative;
#profile-description-1 .text-1
  position: relative;  
  display: block;
#profile-description-1 .show-more-1
  color: #1779dd;
  position: relative; 
  font-size: 10px; 
  text-align: left; 
  cursor: pointer;
#profile-description-1 .show-more-1:hover
  color: #1779dd;
#profile-description-1 .show-more-height-1
  height: 68px; 
  overflow: hidden; 





