- unless best_account_analysis.nil?
  .pull-right.soft#analysis_timestamp
    %i
      %i.icon-time= '&nbsp;'.html_safe
      = t '.analyzed'
      %abbr{ title: best_account_analysis.created_at.to_s(:full) }
        = t '.duration', date: time_ago_in_words(best_account_analysis.created_at)
      = t '.ago'
