- # NOTE: Replaces show_ohloh_edits, show_ohloh_posts and show_ohloh_reviews in accounts_helper.rb
- action_count = @account.send(action)
%p{class: css}
  - if action_count > 0
    = link_to t(".#{action}_size", size: action_count), account_edits_url(@account)
  - else
    = t(".no_#{action}")
