- chart_url = commits_history_account_url(@account).to_s

.pull-left
  %h4= link_to t('.link'), account_positions_path(@account)
.pull-left.soft.graphs_date_range
  = chart_default_time_span
.clearfix

%div{style: 'height:350px;'}
  .chart#project_contributions{style: 'width:950px; height:300; margin-left:-28px', 'datasrc': chart_url}
