- chart_url = commits_by_project_chart_account_url(@account).to_s

.pull-left
  %h4= link_to t('.link'), account_positions_path(@account)
.pull-left.soft.margin_top_10px
  = chart_default_time_span
.clearfix

%div{style: 'height:350px;'}
  .chart#project_contributions{style: 'width:950px; height:300; margin-left:-28px', 'datasrc' => chart_url}
