/ - contributions = person.contributions.includes([{contributor_fact: :name}, :project])
- contributions = person.decorate.contributions
- if contributions.any?
  - contributions.take(3).each do |c|
    %p.margin_bottom_0
      Contributes to
      = link_to h(c.project.name), project_path(c.project.to_param)
      - if c.committer_name != person.effective_name
        as
        = h(obfuscate_email(c.committer_name))
  - if contributions.length > 3
    = link_to t('.link_others', size: (contributions.size - 3)), account_path(person.account_id)
- else
  = t('.no_contribution_found')
