%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { @query ? t('.page_title_query', query: @query) : t('.page_title') }

= # TODO: render_session_projects_menu

-# render_search_dingus(@projects, true, projects_index_sort_options)
.clear

#projects_index_list
  = render partial: 'project_index', collection: @projects, locals: { metric: project_metric_from_sort(@sort),
                                                                      compare: true, show_active_committers: true }
  = will_paginate @projects
  - no_search_match(@query) if @projects.total_entries == 0
