- content_for(:html_title) { t('.page_title', name: @account.name) }

-# layout_params.section_header = 'accounts/mini_header_summary'

#managed_projects_list
  %h3= t('.managed_projects')
  = render partial: 'project_index', collection: @projects, locals: { i_use_this: true, compare: false,
                                                                      show_active_committers: false }
  = will_paginate @projects
