:ruby
  total_users = @project.user_count
  total_contributors = @project.best_analysis.contributor_facts.size
  content_for(:html_title) { t('.page_title', name: @project.name) }
  page_context[:select_footer_nav] = :map

%input{type: 'hidden', id: 'project', value: @project.to_param}
%input{type: 'hidden', id: 'total_users', value: total_users }
%input{type: 'hidden', id: 'total_contributors', value: total_contributors }

.margin_top_10#map_container{ 'data-icon-image' => image_path('map/map_yellow.png') }
  %p
    %strong Show:
    /=link_to "Contributors", "#", id: 'a_contributors'
    /|
    /=link_to "Users", "#", id: 'a_users'
    %input{ type: 'radio', id: 'a_contributors', name: 'map_type' }
    Contributors
    %br
    %input{ type: 'radio', id: 'a_users', name: 'map_type' }
    Users
    %span#map_status Loading...
  .big#map

!= map_init('map')
