:ruby
  projects = @projects.compact.map { |project| CompareProjectCsvDecorator.new(project, request.host) }
  rows = { 'Project' => :name,
           'Project Link' => :project_url,
           'Project Activity' => :activity,
           'Open Hub Data Quality' => :data_quality,
           'Homepage' => :url,
           'Project License' => :licenses,
           'Estimated Cost' => :estimated_cost,
           'Estimated Cost Link' => :estimated_cost_project_url,
           'Contributors (All Time)' => :contributors_all_time,
           'Contributors Link (All Time)' => :project_contributors_url,
           'Commits (All Time)' => :commits_all_time,
           'Commits Link (All Time)' => :project_commits_url,
           'Initial Commit' => :initial_commit,
           'Most Recent Commit' => :most_recent_commit,
           'Contributors (Past 12 Months)' => :contributors_last_twelve_months,
           'Contributors Link (Past 12 Months)' => :project_contributors_url_last_twelve_months,
           'Commits (Past 12 Months)' => :commits_last_twelve_months,
           'Commits Link (Past 12 Months)' => :project_commits_url_last_twelve_months,
           'Files Modified (Past 12 Months)' => :files_last_twelve_months,
           'Lines Added (Past 12 Months)' => :loc_added_last_twelve_months,
           'Lines Removed (Past 12 Months)' => :loc_removed_last_twelve_months,
           'Year-Over-Year Commits' => :year_over_year_commits,
           'Year-Over-Year Commits Link' => :year_over_year_commits_url,
           'Contributors (Past 30 Days)' => :contributors_last_thirty_days,
           'Contributors Link (Past 30 Days)' => :project_contributors_url_last_thirty_days,
           'Commits (Past 30 Days)' => :commits_last_thirty_days,
           'Commits Link(Past 30 Days)' => :project_commits_url_last_thirty_days,
           'Files Modified (Past 30 Days)' => :files_last_thirty_days,
           'Lines Added (Past 30 Days)' => :loc_added_last_thirty_days,
           'Lines Removed (Past 30 Days)' => :loc_removed_last_thirty_days,
           'Mostly Written in' => :main_language_name,
           'Comments' => :comments,
           'Comments Link' => :comments_url,
           'Lines of Code' => :loc,
           'Lines of Code Link' => :languages_summary_project_analysis_url,
           'Managers' => :managers,
           'Open Hub Users' => :user_count,
           'Open Hub User Rating' => :rating_average,
           'Number of Ratings' => :rating_count }
- rows.each do |key, method|
  = [key, projects.compact.map { |project| csv_escape(project.send(method)) }].flatten.join(',').html_safe
