:ruby
  uri1_args = { id: @manage.target.id, host: ENV['URL_HOST'] }
  uri1 = @manage.target_type == 'Project' ? project_url(uri1_args) : organization_url(uri1_args)
  uri2 =
    if @manage.target_type == 'Project'
      project_managers_url(project_id: @manage.target.id, host: ENV['URL_HOST'])
    else
      organization_managers_url(organization_id: @manage.target.id, host: ENV['URL_HOST'])
    end
  link1 = link_to(h(@manage.account.name), account_url(id: @manage.account.id, host: ENV['URL_HOST']))
  link2 = link_to(h(@manage.target.name), uri1)
  link3 = link_to(t('.action'), uri2)
%p= t('mailers.greeting')
%h4!= t('.body', link1: link1, link2: link2, link3: link3, target_type: @manage.target_type.downcase)
%p= t('mailers.signature')
%hr
%p{ style: 'color:777' }= t('manage_mailer.privacy_to_managers')
