%p= t('mailers.greeting')
%h4!= t('.body', approver: @manage.approver.name, name: @manage.account.name, target: @manage.target.name)
%p= t('mailers.signature')
%hr
%p{ style: 'color:777' }= t('manage_mailer.privacy_to_managers')
