%p= t('mailers.greeting')
%h4!= t('.body', destroyer: @manage.destroyer.name, name: @manage.account.name, target: @manage.target.name)
%p= t('mailers.signature')
%hr
%p{ style: 'color:777' }= t('.privacy', destroyer: @manage.destroyer.name, name: @manage.account.name)
