.vulnerability_filter_wrapper.vulnerability_filter_version
  %span.title= t('.version')
  = select_tag 'vulnerability[filter][version]',
    options_from_collection_for_select(@minor_versions.presence || no_versions_available,
      'id', 'version', filter_version_param),
      class: 'ctrl vulnerability_filter'
.vulnerability_filter_wrapper.vulnerability_filter_severity
  %span.title= t('.severity')
  = select_tag 'vulnerability[filter][severity]', options_for_severities_filter,
      include_blank: 'All', class: 'ctrl vulnerability_filter', disabled: @minor_versions.blank?
