#broken_links .scrollable-menu
{
    max-height: 400px;
    overflow-y: scroll;
}

.panel-default>.panel-heading {
    color: #333;
    height: 35px;
    background-color:#efefef;
    border-color: #ddd;
    line-height:18px;
    text-align: center;
    font-weight: bold;
}
label {
    margin-left: 20px;
    text-align: center;
}
select {
    margin: 0 0 10px 10px;
    width: 200px;
    border-radius: 5px;
}
form .buttons {
    margin-top: 10px;
}

form input[type="submit"], form input[type=button], form button {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #838a90;
    background-image: linear-gradient(180deg, #838a90, #414549);
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 0px rgba(255,255,255,0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef;
    cursor: pointer;
}

#clear_filter {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #fff, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469;
}

.grid_container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 0.25fr .75fr 0.25fr .75fr ;
    grid-auto-flow: column;
    margin-top: 15px;
    margin-right: 10px ;
}
.license_right {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.license_right_left {
  grid-column: 1 / 2;
}

.wrapper_left {
  grid-column: 2 / 3;
  margin-right: 15px ;
}

.license_right_right {
    grid-column: 3 / 4;
}

.wrapper_right {
    grid-column: 4 / 5;
    margin-right: 15px ;
  }

.radio-wrap {
  height: 30px;
  position: relative;
  float: left;
  margin-bottom: 20px;
  margin-top: 5px;
}
.radio-wrap.half {
  width: 50%;
}
.radio-wrap.third {
  width: 33.3%;
}
.radio-wrap.quarter {
  width: 25%;
}

input.custom-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input.custom-radio ~ label {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.5px solid #bebebe;
  border-radius: 4px;
  background-image: -moz-linear-gradient(top, #fefefe, #e1e1e1);
  background-image: -webkit-linear-gradient(top, #fefefe, #e1e1e1);
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

input.custom-radio:checked ~ label {
  background-image: -moz-linear-gradient(top, #ebebeb, #fefefe);
  background-image: -webkit-linear-gradient(top, #ebebeb, #fefefe);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  color: blue;
  text-shadow: 0 0 2px #fff;
}

input.custom-radio:checked[value = '0'] ~ label {
  color: #70c725;
}

input.custom-radio:checked[value = '1'] ~ label {
    color: #e53b3b;
  }

  input.custom-radio:checked[value = '2'] ~ label {
    color: #007aff;
  }



