- page_context[:title] = t('api_keys.edit.page_title')
- url = account_api_keys_path(@account, @model)
= render :partial => 'form', locals: {title: t('api_keys.edit.verb'), http_method: :put, url: url}
