%tr{ id: 'dingus-row' }
  %td{ colspan: '11', style: 'height: 11px' }
%tr
  %th{ rowspan: '2', scope: 'col', width: '120' } Language
  %th.center{ rowspan: '2', scope: 'col' }
    Aggregate
    %br
    Coding Time
  %th.center{ rowspan: '2', scope: 'col' }
    Total
    %br
    Commits
  %th.center{ rowspan: '2', scope: 'col' }
    Total Lines
    %br
    Changed
  %th.center{ colspan: '2', scope: 'col' } Most Commits:
  %th{ rowspan: '2', scope: 'col' }  
  %th.center{ colspan: '2', scope: 'col' } Most Recent Commit:
%tr
  %th.left
    %span{ style: 'margin-left:45px;' } Project
  %th.center Commits
  %th.left
    %span{ style: 'margin-left:45px;' } Project
  %th.center Commit Month
