- if aff_outside_commits_count == 0
  %span.disabled Outside Projects
- else
  %a.select_sub_view.append_history.block_ui.outside_projects{:href => "?view=outside_projects", :url => "?view=outside_projects", :update =>".org-data-table", :current_class => "outside_projects"}
    Outside Projects
= image_tag("org_infographics/#{outside_projects_image}", :class => "center margin_top_10", :width => "60px")
