%div
  %h1 Code Search is discontinued
  %div
    %p{ style: 'margin-top: 20px' }
      The Black Duck Open Hub Code Search service has been discontinued as we examine the best
      way we can continue to support the Open Source Software community.
    %p We apologize for any inconvenience that this has caused and thank you for your continued support.
  %div{ style: 'margin-bottom: 30px' }
    %a{ href: 'https://www.openhub.net' } Return to the Open Hub
