:javascript
  (function(d,b,a,s,e){
    var t = b.createElement(a), fs = b.getElementsByTagName(a)[0];
    t.async=1;
    t.id=e;
    t.src=('https:'==document.location.protocol ? 'https://' : 'http://') + s;
    fs.parentNode.insertBefore(t, fs);
  })(window,document,'script','scripts.demandbase.com/KqGh7ha7.min.js','demandbase_js_lib');
