- if project.managers.any?
  %div
    - project.active_managers.each do |m|
      .clearfix
        = avatar_for(m.person, size: 32)
        %a.avatar_name.pull-left{ href: account_path(m) }= m.name
- else
  %span.status.warning= link_to t('compare.position_not_yet_claimed'), project_managers_path(project)
