.navbar.navbar-fixed-bottom#cookies-bar
  .container-fluid
    .cc_message.float_left
      This site uses cookies to give you the best possible experience.
      By using the site, you consent to our use of cookies.
      For more information, please see our
      = link_to 'Privacy Policy', 'https://community.synopsys.com/s/article/Black-Duck-Open-Hub-Open-Hub-Privacy-Policy', target: '_blank', class: 'cc_message'
    .right-part.float_right
      = link_to 'Agree', 'javascript: void();', class: 'btn btn-default cc_accept'
