%fieldset
  .control-group
    .controls
      = f.text_area :body, style: "width: 500px; height: 160px;"
      %p.error= flash[:bad_reply] if flash[:bad_reply]
    .control-group
      .actions
      = render 'shared/captcha'
      = f.submit t('.submit'), class: 'btn btn-primary btn-small', style: "margin-top: 15px;"
