.related-project-item.oh-card{ id: "related_project_#{related_project.to_param}" }
  .related-project-item__header
    .related-project-item__name
      = related_project.decorate.icon(:small)
      = link_to h(truncate_project_name(related_project.name, 20, link: true)), project_path(related_project), title: related_project.name
  .related-project-item__tags.tags
    - related_project.tags.sort { |a, b| a.name <=> b.name }.each do |tag|
      %a.tag{ tagname: tag.name, href: 'javascript:void(0);' }= tag.name
