- privacy_link = link_to(t('edit').downcase, edit_account_privacy_account_url('me'))
- unsubscribe_emails_link = link_to(t('here').downcase, unsubscribe_emails_url)

%p
  = succeed ',' do
    = t('.greeting')
  %br
  The Black Duck Open Hub Team

%p
  = t('postscript')
  = t('.unsubscribe_help_html', link: privacy_link, unsubscribe_emails_link: unsubscribe_emails_link)
