%p Greetings from the Open Hub Team!

%p
  As a result of too many spammers we have introduced a new account verification system.
  Please follow the below link to verify your mobile number.
  = link_to 'Verify Account', 'https://www.openhub.net/accounts/me/verifications/new'
  Your account has to be verified within 3 weeks from the receiving date of this mail

%p We apologize for any inconvenience and thank you for being a member of the Open Hub.

%p
  Sincerely Yours,
  %br
  Black Duck Open Hub Development Team

%p
  If you no longer wish to receive these emails, click on the following link:
  = link_to 'Unsubscribe', 'https://openhub.net/accounts/me/edit_privacy'
