%p Greetings from the Open Hub Team!

%p
  We apologize for any inconvenience, but due to new rules in our Open Hub web site,
  we needed to change your login name.

%p
  The old name violated new system rules about allowed characters.
  Your new login name is "#{@account.login}" (without the quotation marks).
  You may edit your login name at Open Hub's
  %a{ href: 'https://www.openhub.net/accounts/me/edit' }
    Edit Account Page
  to any other legal value.

%p We apologize for any inconvenience and thank you for being a member of the Open Hub.

%p
  Sincerely Yours,
  %br
  Black Duck Open Hub Development Team
