.watermark340 .highcharts-container
  background-image: asset-url("charts/watermark_340.png")

.watermark440 .highcharts-container
  background-image: asset-url("charts/watermark_440.png")

.watermark692 .highcharts-container
  background-image: asset-url("charts/watermark_692.png")

.watermark860 .highcharts-container
  background-image: asset-url("charts/watermark_860.png")

.watermark900white .highcharts-container
  background-image: asset-url("charts/watermark_white_900.png")

.watermark914 .highcharts-container
  background-image: asset-url("charts/watermark_914.png")
