#contributions_show_page
  #timeline
    height: 300px
    border: 1px solid #ddd
  .icon-exclamation-sign
    font-size: 40px
    color: orange
.contribution_title
  position: relative
  left: 4px
  font-size: 10px !important
