.duplicate ul
  list-style: disc
  margin-left: 1em
  .duplicate ul li
    margin: 1em
    code
      line-height: 2em

.duplicates .iusethis
  display: none

.duplicates
  .black-links
    a
      color: #000 !important
  .green-links
    a
      color: #006400 !important
  .red-links
    a
      color: #8B0000 !important
  .good
    a.green
      color: #006400 !important
  .bad
    a.red
      color: #8B0000 !important

.duplicates .message
  display: none
  position: absolute
  left: 100%
  width: 215px
  height: 100px
  padding: 13px
  border: 5px solid black
  z-index: 10
  background: white

  .message h2
    padding-top: 19px
    width: 270px
    margin: 0 auto
