footer
  background: #9A9A9A
  border-top: 5px #DDDDDD solid
  color: #EEE
  font-weight: 200
  margin: 0 -10px
  min-height: 175px
  padding-top: 10px
  width: 980px
  a
    color: white
    &:hover
      color: white

  .footer-left
    float: left
    margin-right: 30px
    width: 10%
    ul li
      margin: 0
      a
        padding: 8px 12px
        &:hover
          background: #0082C6
          border-radius: 0

  .footer-mid
    float: left
    margin-top: 20px
    width: 64%
    a img
      float: left
      margin-right: 10px

  .footer-right
    float: right
    font-size: 10px
    padding-right: 10px
    text-align: right
    width: 175px
    img
      margin-right: 15px
      opacity: 0.5
      width: 70px
