footer
  @include footer-colors

  margin: 20px 0 0 0
  min-height: 250px
  padding-top: 10px
  width: 100%

  @media (min-width: 320px) and (max-width: 480px)
    width: auto
    min-height: 194px !important
    padding-top: 0px !important
    margin: 0px 0 0 0 !important
    .footer-left
      margin-left: 5px !important
      margin-top: 20px !important
      min-height: 150px !important
    .footer-mid
      line-height: 15px
      margin-left: 30px !important
      font-size: 8px !important
      width: 32% !important
    .footer-right
      font-size: 8px !important
      padding-right: 2px !important
      width: 31% !important
    .footer-bottom
      margin-left: 0px !important
      margin-top: 0px !important
  @media (min-width: 540px) and (max-width: 1024px)
    width: auto

  .footer-left
    float: left
    margin-top: 20px
    margin-left: 30px
    width: 25%
    a
      .logo_img
        width: 40%
        height: 100%

  .footer-mid
    float: left
    margin-top: 20px
    width: 25%
    font-size: 14px
    a
      @include footer-colors
      padding: 4px 4px

  .footer-right
    float: left
    margin-top: 20px
    width: 25%
    font-size: 14px
    a
      @include footer-colors
      padding: 4px 6px

  .footer-rightmost
    float: left
    margin-top: 20px
  .footer-bottom
    @include footer-copyright-colors

    float: left
    margin-top: 10px
    margin-left: 30px
    margin-bottom: 2em
    bottom: 0
    a
      @include footer-copyright-colors

footer.fluid_footer
  width: auto
  .footer-left
    width: 12%
    ul
      li
        a
          padding: 1rem 2rem
          font-weight: bold
  .footer-mid
    width: 25%
    text-align: left
    font-weight: bold
    font-size: 13px
  .footer-right
    width: 40%
    float: left
    font-weight: bold
    font-size: 13px
  .footer-bottom
    float: left
    margin-botton: 2em !important
