@import oh-colors

footer
  background: $bds-background-black
  border-top: 5px #DDDDDD solid
  color: #EEE
  font-weight: 200
  margin: 0 -10px
  min-height: 175px
  padding-top: 10px
  width: 980px
  a
    color: white
    &:hover
      color: white

  .footer-left
    float: left
    margin-right: 30px
    width: 10%
    ul li
      margin: 0
      a
        color: white
        padding: 8px 12px
        &:hover
          background: #0082C6
          border-radius: 0

  .footer-mid
    float: left
    margin-top: 20px
    width: 64%
    a
      color: $primary-blue
    a img
      float: left
      margin-right: 10px

  .footer-right
    float: right
    font-size: 10px
    padding-right: 10px
    text-align: right
    width: 185px
    margin-top: 20px
    p.careers
      font-size: 14px
    a
      color: $primary-blue

footer.fluid_footer
  width: auto
  margin: 0 -15px
  padding-left: 50px
  padding-right: 50px
  .footer-left
    width: 8.33333333%
    ul
      li
        a
          padding: 1rem 2rem
          font-weight: bold
  .footer-mid
    width: 50%
    text-align: left
    font-weight: bold
