.showcase
  padding-top: 20px
  padding-bottom: 30px
  width: 980px
  margin-left: -20px
.billboard
  background: none repeat scroll 0 0 color-gradient($SECONDARY_SKY_BLUE, 120)
  color: white
  height: 160px
  padding-top: 30px
  padding-bottom: 30px
  text-align: center
  width: 100%
  z-index: 2
  .billboard_search
    margin-top: 80px
  .discover
    padding: 0
  .discover_msg
    font-size: 2.1em !important
    font-weight: 100 !important
    margin-top: -10px
    margin-bottom: 10px
    h1
      line-height: 1.2em !important
#global_statistics
  padding-top: 1px
  p
    margin-top: -20px
    text-align: center
    font-size: 14px
    font-weight: 200 !important
.join_now
  color: color-gradient($SECONDARY_FOREST_GREEN, 100)
  border-bottom: 3px solid color-gradient($SECONDARY_FOREST_GREEN, 100)
  padding-bottom: 5px
  padding-left: 12px
.join_now_home
  padding-top: 10px
  padding-left: 20px
  font-size: 1.4em 
  p
    font-size: 14px !important
  .join_now_color
    color: color-gradient($SECONDARY_FOREST_GREEN, 100) !important
  li
    font-size: 0.5em !important
    height: 30px
    width: 30px
.home_page_row
  .whats_new
    margin-right: -27px !important
  .col-md-8
    h2
      font-weight: 500 !important
      margin-right: -40px !important
      margin-left: 30px !important
      text-indent: -10px !important
  .col-md-4
    background-color: color-gradient($SECTION_BACKGROUND, 0) !important
    padding-bottom: 20px
    width: 32%
    h2
      font-weight: 500 !important
      margin-left: 5px !important
      text-indent: -10px !important
.btn.btn_join_now
  font-family: 'Roboto' !important
  font-size: 22px !important
  font-weight: bold !important
  background-color: color-gradient($SECONDARY_FOREST_GREEN, 100) !important
  border-color: color-gradient($SECONDARY_FOREST_GREEN, 100) !important
  margin-left: 60px !important
  width: 161px !important
  &:hover
    background-color: color-gradient($SECONDARY_FOREST_GREEN, 80) !important
    border-color: color-gradient($SECONDARY_FOREST_GREEN, 80) !important
.copilot
  background: asset_url("home/Rookies18-OH.jpg") 0 0 no-repeat
  height: 230px
  width: 600px
  margin-top: 20px
  margin-left: 30px

::-webkit-input-placeholder
  color:    color-gradient($PRIMARY_DARK_GRAY, 120)
\:-moz-placeholder
  color:    color-gradient($PRIMARY_DARK_GRAY, 120)
  opacity:  1
::-moz-placeholder
  color:    color-gradient($PRIMARY_DARK_GRAY, 120)
  opacity:  1
\:-ms-input-placeholder
  color:    #909

input:focus::-webkit-input-placeholder
  color: transparent
input:focus::-moz-placeholder
  color: transparent
input:focus::-ms-input-placeholder
  color: transparent

.landing
  margin-top: 20px
  margin-left: -14px
.top_ten_main
  padding-left: 40px !important
  padding-bottom: 6px !important
.top_ten_row
  padding-left: 9px !important
  padding-bottom: 15px
.top_ten_bar
  line-height: 0.6em
  width: 30%
  background: #AA4643
  margin-top: 7px
.top_ten_label
  line-height: 1.5em
  padding-left: 8px
  color: #555
.top_ten
  h2
    font-weight: 500 !important
.top_ten.middle
  background-color: color-gradient($SECTION_BACKGROUND, 80)
.top_ten.last
  h2
    margin-right: -25px !important
.top_ten_icon
  img
    background-color: #EEE
    color: #000
    font-size: 4px
    line-height: 32px
    width: 32px
    height: 32px
    text-align: center
    float: left
    margin-bottom: 0
    margin-top: 0
    margin-right: 2px
.for_search_all_code
  height: 23px !important
  margin-top: -108px
  width: 413px
  color: color-gradient($PRIMARY_DARK_GRAY, 120) !important
.image_icon
  img
    margin-left: -24px
    margin-top: -115px
    padding-bottom: 3px
    width: 13px !important
    height: 17px !important
    cursor: pointer
.top_ten_link
  a
    border: 0
.icon_search
  font-size: 14px
  font-weight: 300
  margin-top: -37px
  margin-left: -71px
  text-align: center
.wh_new
  color: color-gradient($SECONDARY_ORANGE, 120)
  border-bottom: 3px solid color-gradient($SECONDARY_ORANGE, 120)
  width: 100%
  padding-bottom: 5px
.common
  padding-left: 6px
  padding-bottom: 3px
  font-size: 1.4em
  font-weight: normal
  color: #000000
.most_popular_projects
  color: color-gradient($SECONDARY_ORANGE, 120)
  border-bottom: 2px solid color-gradient($SECONDARY_ORANGE, 120)
.most_active_projects 
  color: color-gradient($SECONDARY_MARINE_BLUE, 120)
  border-bottom: 2px solid color-gradient($SECONDARY_MARINE_BLUE, 120)
  margin-left: -1px
.most_active_contributors
  color: color-gradient($SECONDARY_TEAL, 120)
  border-bottom: 2px solid color-gradient($SECONDARY_TEAL, 120)
.popular
  background: color-gradient($SECONDARY_ORANGE, 120) !important
.active
  background: color-gradient($SECONDARY_MARINE_BLUE, 120) !important
.contributor
  background: color-gradient($SECONDARY_TEAL, 120) !important
