#explore_orgs_page
  h1
    margin-left: -10px
#newest-orgs
  width: 303px
  .row
    margin-bottom: 15px
    margin-left: 0px
    .col-md-1
      margin-right: 5px
      margin-left: 0px
    .row.margin_left_5
      width: 308px
      h5
        margin-bottom: 12px
      p
        font-size: 12px
        display: inline
        margin-left: 5px
  p
    margin-left: 8px

#most-active-orgs
  padding: 0px 0px 0px 10px

  .row
    margin-bottom: 15px
    .col-md-3 h5
      margin-bottom: 12px

  .row#active-org-timestamp
    font-size: 9px
    font-style: italic

#stats-by-sector
  width: 610px
  #commit-gauge
    width: 220px
    height: 80px
    margin: 0 auto

#org_filter_no_result
  width: 620px
  height: 242px
  text-align: center
  vertical-align: middle
  border: 1px solid #ccc
  h5
    line-height: 210px

.progress#progress-container
  width: 180px
  border: 1px solid #afd5eb

  #progress-bar
    background-color: #428bca
    color: white
    padding: 0 0 0 3px
