#search-dingus
  background-color: #F6F6F6
  padding: 7px 0px
  line-height: 29px
  min-height: 33px
  margin-bottom: 1em
  #value_select
    display: inline !important
    select
      width: 400px
  .col-md-5
    width: 43%

  .col-md-4
    width: 32%
    #sort_by
      float: right
      padding-right: 10px

  label.paginate
    font-size: 13px
  button.btn
    height: 34px
    border-top: 10px
  input
    width: 150px
    color: #000
  select
    width: 150px
  label.checkbox
    input
      margin-top: 4px
  label.radio
    input
      width: 0px !important
      margin-top: 4px
  #human_edits
    input
      width: 14px
form#quicksearch
  button.submit
    background: none
    border: 0
  ul.dropdown-menu
    border-radius: 0px
    margin-top: -10px
    li
      display: inline
      a
        font-size: 14px
        text-transform: none
        &:hover
          color: #fff
          background-color: #0082C6
  .btn-small
    font-size: 17px
    border-width: 2px !important
    .selection
      font-weight: 100
      text-transform: none
    background-color: #0082C6 !important
    border-color: #0082C6
    &:hover
      background-color: #0082C6 !important
      border-color: #0082C6 !important

.global_top_search
  margin-left: 5px
  height: 18px !important
  border-color: rgba(82, 168, 236, 0.8) !important

.global_top_search_icon
  color: rgba(82, 168, 236, 0.8) !important
  font-size: 18px
