.widget_list
  :border-top 1px dotted #555
  p
    :margin 0
  a.igoogle
    :border none
  :margin-bottom 1em
.widget_box
  :border none
  :float left
  :margin 0
  :margin-bottom 1em
  :line-height 0
  a:link, a:visited, a:hover
    :border none
.widget_instruct
  :float right
  :width 515px
textarea.widget_text
  :font-family monospace
  :background-color #EEEEEE
  :color #444444
  :font-size small
  :border 1px solid #ccc
  :padding .2em
  :width 510px
.widget_back_link
  :position absolute
  :right 0
pre
  background-color: #d5e3e9
  margin: 1em -0.5em
  padding: 0.8em 0.5em
.org_widget
  #widget-body
    height: 182px
  .link_container
    .ohloh_logo
      margin-top: -3px
.input-mini-num
  width: 30px

#project_widgets_index_page
  .project_widget_container
    margin-bottom: 20px
  .project_footer
    img
      margin-bottom: 2px
  .users_with_style
    .info
      width: 78px !important
  .users_without_style
    .last
      width: 78px !important
  .ohloh_widget_code_footer
    img
      position: relative
      top: -1px !important
  .cocomo
    color: #000
    #cocomo_salary
      width: 69px
    select
      width: 133px
      height: 19px
  .widget_browse_code
    padding: 0px 5px 5px 10px !important
  .widget_search_code
    input.search_code
      &.for_search_code
        height: 16px !important
        width: 200px !important
      &.for_search_all_code
        height: 16px !important
    padding: 0px 5px 5px 10px !important
