- if request.xhr? || action_name == 'show'
  - if count.to_i > 10
    .pagination-button-container
      = link_to(h(text), h(url), class: 'btn-see-all-org')
  - else
    %p &nbsp;
- else
  = render 'shared/modern_pagination', collection: collection
