%h2=t('.title')

.row
  .well.col-md-10.center-block
    = form_for @organization, url: organizations_path, class: 'center-block', style: 'width: 650px;' do |f|
      = render partial: 'fields', locals: { f: f}

= render partial: 'about_basics'
