!!!5
%html
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
  %body{ zoom: 1, style: 'background: #fff' }
    .container#page
      .margin_top_20#print_infographic
        #org_infographic
          = render partial: '/organizations/show/pictogram', locals: { print_icon: false }
