- content_for(:html_title) { t('.page_title', organization_name: @organization.name) }
- page_context[:select_footer_nav] = :projects
= render partial: 'organizations/show/header'

.padding_one_top#portfolio_projects_list
  = render partial: 'organizations/show/portfolio_projects', affiliated_projects: @affiliated_projects
