:ruby
  widget ||= @widget
  org = widget.organization
  commits_to = org.affiliated_committers_stats['affl_commits'].to_i

  locals = { org: org, people: org.affiliators_count, commits_to: commits_to, projects: org.projects.count,
             committer_text: t('.affiliates'), project_text: t('.portfolio') }

= render partial: 'activity', locals: locals
