- page_context[:select_footer_nav] = :widgets
- content_for(:html_title) { t('.page_title', name: @organization.name) }

.project_content_title.margin_bottom_10
  %h2= t('.title')
  %p= t('.embed')

- @widgets.each do |widget|
  = render partial: 'widget', locals: { widget: widget, type: 'organization' }
