-if bdsa_references(@response['references'])
  %hr
  %span.bold.date References and Related Links
  %dl
    - bdsa_references(@response['references']).each do |type, links|
      %dt
        - if bdsa_reference_icons[type]
          %i.fa.fa-custom{class: "#{bdsa_reference_icons[type]}"}
        = "#{type} :"
      - links.each do |link|
        %dd= link_to h(link), h(link), target: '_blank'
