%p.vector= link_to cvss['vector'], "https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector=#{cvss['vector']}", target:'_blank' if cvss['vector']
%span.bold Overall: 
%span.bordered{class: "#{cvss['severity'].downcase}"}= cvss3_severity(cvss, type)
