%p.vector= link_to cvss['vector'], cvss_calculator_link(cvss['vector']), target:'_blank' if cvss['vector']
%span.bold Overall: 
%span.bordered{class: "#{cvss['severity'].downcase}"}= cvss3_severity(cvss, type)
