.search-container
  .search-result
    %i.fa.fa-4x.fa-inbox.search-result-icon
    - if @response && @response['error'].nil? && @response['publishedDate'] && @response['publishedDate'].to_datetime > 30.days.ago.to_datetime
      %h2.search-result-title The details of this vulnerability are not yet available.
      %p.search-result-text Please come back soon to view the information.
      %p.search-result-hint This security advisory is being processed and will be published shortly.
    - else
      %h2.search-result-title No matching results found
      %p.search-result-text You can try again by changing the search term.
      %p.search-result-hint Make sure you've entered a valid BDSA ID
