- if @analysis
  - committers_url = url_for(committerhistory_project_analysis_url(project_id: @project.to_param, id: 'latest'))
  - opts = chart_options('data-chart' => chart_watermark('charts_watermark_440'))
  %h4= link_to 'Contributors per Month', summary_project_contributors_path(@project)
  .span4{ style: 'margin: -20px 0 0 -10px;' }
    = chart_interactive_tag(committers_url, 460, 200, nil, 'loc_chart', false, opts)
- else
  %h4 Contributors per Month
  %p
    There are no Code Locations added to this project so Open Hub cannot display the contributors per month chart.
    = link_to 'Add a code location', new_project_enlistment_path(@project)
    to see this information.
