- if @analysis
  - committers_url = url_for(committer_history_project_analysis_url(project_id: @project.to_param, id: 'latest'))
  - opts = chart_options('data-chart' => chart_watermark('charts_watermark_440'))
  %h4= link_to t('.contributors_per_month'), summary_project_contributors_path(@project)
  .col-md-4{ style: 'margin: -20px 0 0 -10px;' }
    != chart_interactive_tag(committers_url, 460, 200, opts)
- else
  %h4= t('.contributors_per_month')
  - add_code_link = link_to t('.add_a_code_location'), new_project_enlistment_path(@project)
  %p= t('.no_code_locations', link: add_code_link)
