.project_licenses
  .row.project_row
    .col-md-12.license_title_container
      %h4.license_panel_title
        = link_to "cURL on Coverity Scan", "https://scan.coverity.com/projects/curl", target: "_blank"
    .clearfix
    .col-md-6
      .well
        %p This is the Analysis Metrics per Component
    .col-md-6
      .well
        %p This is CWE Top 25 defects
    .col-md-6
      .well
        = render partial: 'projects/show/cov_outstanding_defects_component'
    .col-md-6
      .well
        %p This is Outstanding vrs Fixed Defects over Time
