<div id="chart-1" style="height: 292.75px; width: 100%; text-align: center; color: #999; line-height: 292.75px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">
<div style="position: relative;">
<div dir="ltr" style="position: relative; width: 848px; height: 293px;">
<div aria-label="A chart." style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
<svg width="848" height="293" aria-label="A chart." style="overflow: hidden;">
<defs id="_ABSTRACT_RENDERER_ID_32"><clipPath id="_ABSTRACT_RENDERER_ID_33">
	<rect x="170" y="50" width="509" height="173"></rect></clipPath>
</defs>
<rect x="0" y="0" width="848" height="293" stroke="none" stroke-width="0" fill="#ffffff">
</rect>
<g><text text-anchor="start" x="170" y="29.9" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="14" font-weight="bold" stroke="none" stroke-width="0" fill="#000000">Outstanding Defect per Component
</text>
<rect x="170" y="18" width="509" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect></g><g>
<rect x="691" y="111" width="145" height="50" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect><g>
<rect x="691" y="111" width="145" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect><g>
<text text-anchor="start" x="720" y="121.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#444444">High
</text></g>
<rect x="691" y="111" width="24" height="12" stroke="none" stroke-width="0" fill="#a52a2a">
</rect></g><g>
<rect x="691" y="130" width="145" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect><g>
<text text-anchor="start" x="720" y="140.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#444444">Medium
</text></g>
<rect x="691" y="130" width="24" height="12" stroke="none" stroke-width="0" fill="#f4a460">
</rect></g><g>
<rect x="691" y="149" width="145" height="12" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect><g>
<text text-anchor="start" x="720" y="159.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#444444">Low
</text></g>
<rect x="691" y="149" width="24" height="12" stroke="none" stroke-width="0" fill="#b8860b">
</rect></g></g><g>
<rect x="170" y="50" width="509" height="173" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff">
</rect><g clip-path="url(https://scan.coverity.com/projects/curl#_ABSTRACT_RENDERER_ID_33)"><g>
<rect x="170" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="255" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="339" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="424" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="509" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="593" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="678" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect>
<rect x="212" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect>
<rect x="297" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect>
<rect x="382" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect>
<rect x="466" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect>
<rect x="551" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect>
<rect x="636" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#ebebeb"></rect></g><g>
<rect x="171" y="65" width="67" height="28" stroke="none" stroke-width="0" fill="#a52a2a"></rect>
<rect x="239" y="65" width="354" height="28" stroke="none" stroke-width="0" fill="#f4a460"></rect>
<rect x="171" y="122" width="33" height="29" stroke="none" stroke-width="0" fill="#f4a460"></rect>
<rect x="594" y="65" width="33" height="28" stroke="none" stroke-width="0" fill="#b8860b"></rect>
<rect x="205" y="122" width="16" height="29" stroke="none" stroke-width="0" fill="#b8860b"></rect>
<rect x="170" y="179" width="0.5" height="29" stroke="none" stroke-width="0" fill="#b8860b"></rect>
</g><g><rect x="170" y="50" width="1" height="173" stroke="none" stroke-width="0" fill="#cccccc"></rect></g></g><g></g><g><g>
<text text-anchor="middle" x="170.5" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">0
</text></g><g>
<text text-anchor="middle" x="255.1667" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">5
</text></g><g>
<text text-anchor="middle" x="339.8333" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">10
</text></g><g>
<text text-anchor="middle" x="424.5" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">15
</text></g><g>
<text text-anchor="middle" x="509.1667" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">20
</text></g><g>
<text text-anchor="middle" x="593.8333" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">25
</text></g><g>
<text text-anchor="middle" x="678.5" y="240.2" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">30
</text></g><g><text text-anchor="end" x="158" y="83.36666666666667" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">libcurl</text></g><g><text text-anchor="end" x="158" y="140.7" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">curl tool</text></g><g><text text-anchor="end" x="158" y="198.03333333333333" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="12" stroke="none" stroke-width="0" fill="#666666">Other</text></g></g></g><g><g><text text-anchor="middle" x="424.5" y="272.4" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="14" font-style="italic" stroke="none" stroke-width="0" fill="#222222">Outstanding defects</text><rect x="170" y="260.5" width="509" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><g><text text-anchor="middle" x="59.4" y="136.5" font-family="'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif" font-size="14" font-style="italic" transform="rotate(-90 59.4 136.5)" stroke="none" stroke-width="0" fill="#222222">Component</text><path d="M47.49999999999999,223L47.50000000000001,50L61.50000000000001,50.00000000000001L61.49999999999999,223Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th></th><th>High</th><th>Medium</th><th>Low</th></tr></thead><tbody><tr><td>libcurl</td><td>4</td><td>21</td><td>2</td></tr><tr><td>curl tool</td><td></td><td>2</td><td>1</td></tr><tr><td>Other</td><td></td><td></td><td>0</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 303px; left: 857px; white-space: nowrap; font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;">4</div><div></div></div></div>
