%h4 CWE Top 25 defects
- if cwes.blank?
  %p No top 25 CWE defects were found.
- else
  %table.table.table-bordered.table-hover.well
    %thead
      %tr
        %th.text-right ID
        %th CWE-Name
        %th.text-right Number of Defects
    %tbody
      - cwes.each do |cwe|
        %tr
          %td.text-right= link_to cwe.id, cwe.uri, target: '_blank'
          %td= cwe.name
          %td.text-right= cwe.defect_count
    %tbody
