- duplicate = project.is_a_duplicate
- if duplicate
  .alert.alert-info
    - link = link_to(h(duplicate.good_project.name), project_path(duplicate.good_project))
    %p!= t('.reported', link: link)
    - if (duplicate.account == current_user) || current_user_is_admin?
      %p
        = link_to t('.cancel_request'), project_duplicate_path(project, duplicate),
          class: 'btn btn-warning', method: :delete, data: { confirm: t('.cancel_confirm') }
        = link_to bootstrap_icon('icon-edit', t('.edit_request')), edit_project_duplicate_path(project, duplicate),
                  class: 'btn btn-info'
  &nbsp;
