- if similar_by_tags.any?
  %table
    - similar_by_tags.take(4).in_groups_of(2, false) do |projects|
      %tr
        - projects.compact.each do |p|
          %td{ valign: 'top' }
            %a.pull-left{ href: project_path(p) }
              - project_icon(p, :small, width: 24)
            %a.pull-left.proj-name{ href: project_path(p) }= truncate(p.name, length: 15)
- elsif @project.tags.empty?
  - if @project.edit_authorized?
    %a{ href: project_tags_path(@project) }= t('.add_some_tags')
  - else
    = t('.none')
- else
  = t('.totally_unique_tags')
