- if similar_by_tags.any?
  .similar-projects-list
    - similar_by_tags.take(4).each do |p|
      = link_to truncate(p.name, length: 20), project_path(p), class: 'similar-proj-name'
- elsif @project.tags.empty?
  - if @project.edit_authorized?
    = link_to t('.add_some_tags'), project_tags_path(@project)
  - else
    = t('.none')
- else
  = t('.totally_unique_tags')
