%ul.unstyled.nutshell
  - if @analysis && @analysis.factoids && @analysis.twelve_month_summary
    :ruby
      commits_fact = @analysis.factoids.select { |f| f.is_a? FactoidActivity }
      committers_fact = @analysis.factoids.select { |f| f.is_a? FactoidStaff }
      has_old_data = commits_fact.any? || committers_fact.any?
      commits = @analysis.twelve_month_summary.commit_count
      committers = @analysis.twelve_month_summary.committer_count
      previous_twelve_month_summary = @analysis.previous_twelve_month_summary
      analysis_less_than_a_year_old = Time.parse(@analysis.min_month.to_s) >= 12.months.ago
    %li
      %big= commits
      = link_to 'Commits', project_commits_path(@project, time_span: '12 months')
      %span.small.clear
        - if previous_twelve_month_summary
          - if previous_twelve_month_summary.has_data?
            %span.commits_ticker
              - show_twelve_month_commits_ticker
          - elsif analysis_less_than_a_year_old
            This project is less than 12 months old.
        - elsif has_old_data
          Open Hub must re-analyze this project to display this information.
        - else
          No commit data was found in the analysis from previous 12 months
    %li
      %big= committers
      = link_to 'Contributors', project_contributors_path(@project, time_span: '12 months', sort: 'latest_commit')
      %span.small.clear
        - if previous_twelve_month_summary
          - if previous_twelve_month_summary.has_data?
            %span.committers_ticker
              - show_twelve_month_committers_ticker
          - elsif analysis_less_than_a_year_old
            This project is less than 12 months old.
        - elsif has_old_data
          Open Hub must re-analyze this project to display this information.
        - else
          No commit data was found in the analysis from previous 12 months
