%h4.title= link_to t('.title'), security_project_path(@project)
- if @project.best_project_security_set
  .watermark440#vulnerability_version_chart{ data: { src: vulnerabilities_version_chart_project_path(@project) } }
- else
  %p.text-center= t('.no_data')
