- key, klass = { error: 'alert-danger', notice: 'alert-info', success: 'alert-success', alert: 'alert-info' }.find { |k, _v| flash[k] }
- if key
  #flash-msg
    .alert{ class: klass }
      %a.close{ href: '#', 'data-dismiss' => 'alert' }= '×'
      :ruby
        icon = case key
               when :error
                 'exclamation'
               when :notice, :alert
                 'info'
               when :success
                 'ok'
               else
                 'warning'
               end
      %i{ class: "icon-small icon-#{icon}-sign" }
      != flash[key]
