- type = { error: 'alert-error', notice: 'alert-info', success: 'alert-success' }.select{ |k,v| flash[k] }.first
- if type
  #flash-msg
    .margin_top_20.alert{class: type[1]}
      %a.close{href: '#', 'data-dismiss' => 'alert'}= '×'
      - if type[0] == :error
        %i.icon-exclamation-sign
      - elsif type[0] == :notice
        %i.icon-info-sign
      - elsif type[0] == :success
        %i.icon-ok-sign
      - else
        %i.icon-warning-sign
      != flash[type[0]]
