- unless controller_name == 'home' && action_name == 'index'
  - if responsive_layout
    #bds_360_wide
      %a{ href: 'https://www.surveymonkey.com/r/2017OSS360OpenHub', target: '_blank' }
        .bds_360_banner
  - else
    #bds_360
      %a{ href: 'https://www.surveymonkey.com/r/2017OSS360OpenHub', target: '_blank' }
        .bds_360_banner
