- unless controller_name == 'home' && action_name == 'index'
  - if responsive_layout
    #copilot_wide
      %a{ href: 'https://copilot.blackducksoftware.com/', target: '_blank' }
        .copilot_banner
  - else
    #copilot
      %a{ href: 'https://copilot.blackducksoftware.com/', target: '_blank' }
        .copilot_banner
