- unless controller_name == 'home' && action_name == 'index'
  - if responsive_layout
    #copilot_wide
      %a{ href: 'https://www.surveymonkey.com/r/G5HN2JH', target: '_blank' }
        .copilot_banner
  - else
    #copilot
      %a{ href: 'https://www.surveymonkey.com/r/G5HN2JH', target: '_blank' }
        .copilot_banner
