- item_type ||= (@account ? 'Person' : 'ItemPage')
.footer-navigation
  %div{ id: generate_page_name, itemscope: '', itemtype: "http://schema.org/#{item_type}" }
    .col-md-12
      #page_contents= yield
    .clear
      .mezzo.margin_top_15
        = render partial: 'layouts/partials/navigator'
