- item_type ||= (@account ? 'Person' : 'ItemPage')
%div{ id: generate_page_name, itemscope: '', itemtype: "http://schema.org/#{item_type}" }
  .col-sm-12.col-md-12
    #page_contents= yield
  .clearfix
  - if responsive_layout && page_context[:footer_menu_list]
    .clearfix
    .row.fluid.mezzo
      .footer-navigation.fluid.col-xs-12
        .row
          .col-md-12
            .mezzo.margin_bottom_5
          .clearfix
          .col-xs-10.col-xs-offset-1
            = render 'layouts/partials/navigator'
  - elsif page_context[:footer_menu_list]
    .clearfix.margin_top_15
      .margin_left_20.margin_right_20
        .footer-navigation
          .row
            .col-md-12
              .mezzo.margin_bottom_5
            = render 'layouts/partials/navigator'
