- item_type ||= (@account ? 'Person' : 'ItemPage')
%div{ id: generate_page_name, itemscope: '', itemtype: "http://schema.org/#{item_type}" }
  .col-md-12
    #page_contents= yield
  .clearfix
  .clearfix.margin_top_15
  - if page_context[:footer_menu_list]
    .margin_left_20.margin_right_20
      .footer-navigation
        = render 'layouts/partials/navigator'
