= yield(:javascript) if content_for?(:javascript)
%script{ src: 'https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js' }
= javascript_include_tag 'application',
                         'https://www.google.com/recaptcha/api.js',
                         'https://www.gstatic.com/firebasejs/4.3.0/firebase.js',
                         'https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js',
                         'https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js',
                         cache: 'cached_js_files',
                         async: true

- if Rails.env.production?
  <script type="text/javascript">
  (function() {
  var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
  hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
  })();
  </script>
