= yield(:javascript) if content_for?(:javascript)
%script{ src: 'https://www.google.com/recaptcha/api.js', async: '', defer: '' }
= javascript_include_tag 'application', cache: 'cached_js_files', async: true
