%link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png?v=yyQ28aBKjx' }
%link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png?v=yyQ28aBKjx' }
%link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png?v=yyQ28aBKjx' }
%link{ rel: 'manifest', href: '/site.webmanifest?v=yyQ28aBKjx' }
%link{ rel: 'mask-icon', href: '/safari-pinned-tab.svg?v=yyQ28aBKjx', color: '#5a2a82' }
%link{ rel: 'shortcut icon', href: '/favicon.ico?v=yyQ28aBKjx' }
%link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto&display=swap' }
%meta{ name: 'msapplication-TileColor', content: '#5a2a82' }
%meta{ name: 'theme-color', content: '#ffffff' }
