- if reminder
  .row
    .col.col-md-9.col-sm-offset-3.last.login_warning
      .inset
        %p
          - link1 = link_to(html_escape(reminder.stack_project.name), project_path(reminder.stack_project))
          - link2_uri = stack_path(current_user.stack_core.default, clear_action_reminder: reminder.id)
          - link2 = link_to(t('header.stacked_nag_stack'), link2_uri)
          = t('header.stacked_nag_body', link1: link1, link2: link2).html_safe
          %a.command.soft{ href: url_for(clear_action_reminder: reminder.id) }= t('header.stacked_nag_close')
  - reminder.update(status: Action::STATUSES[:completed]) if reminder.status == Action::STATUSES[:nag_once]
