.well.col-lg-offset-1.col-lg-4#explore_sidebar
  = render 'projects_sidebar'
.col-lg-offset-1.col-lg-5#hot-projects-column
  .row
    .col-lg-12
      = render 'hot_projects'
  .row
    .col-lg-12#project_demographics
      = render 'project_demographics'
