- header ||= :small
- hide_foss_logo ||= false
- badges.each_with_index do |badge, index|
  - is_last = index == badges.length - 1
  - is_last ||= header == :large && badges.length > 4 && index == 3
  - css_class = badge.class.to_s.underscore.dasherize + (is_last ? ' last' : '')
  - if header == :large && index == 4 # render in next line
    %br.clear_both
  - unless hide_foss_logo
    = link_to meta_url_for(:badges), class: "float_left account-badge #{css_class}", title: badge.description, target: '_blank' do
      - if badge.has_levels?
        .pips{class: "pip-#{badge.level_bits}"}
  - else
    - if badge.has_levels?
      .pips{class: "pip-#{badge.level_bits}", title: badge.description(false)}

