.signup-note-card
  .signup-note-card__inner
    %i.fa.fa-exclamation-triangle.signup-note-card__icon
    .signup-note-card__body
      %p.signup-note-card__title= t('.please_note')
      %p.signup-note-card__text
        = t('.creating_account_html', terms: link_to(t('.terms_of_use'), 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Terms-of-Use'))

.signup-terms-note
  By registering you agree to our
  = link_to 'Terms of Service', 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Terms-of-Use', class: 'signup-terms-link', target: '_blank', rel: 'noopener noreferrer'
  and
  = link_to 'Privacy Policy', 'https://www.blackduck.com/privacy.html', class: 'signup-terms-link', target: '_blank', rel: 'noopener noreferrer'
  \.
