/ TODO: Internationalize this as well.
.inset
  %hr.one
  %h6 #{@account.name}'s account is disabled.
  %p
    This account has been disabled. If you are the account owner and wish to discuss this, send email to info@openhub.net.